/**
 * Views stylesheet - common between all themes
 *
 * @author     Catalyst IT Ltd
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later
 * @copyright  For copyright information on Mahara, please see the README file distributed with this software.

 * This file is licensed under the same terms as Mahara itself
 */ 

/* The loading spinner/message that pops up before the view is loaded */
#views-loading {
    text-align: center;
    margin: 10px;
    font-size: 100%;
    color: #666666;
}
/******************** Collection navigation ********************/
#collectionnavwrap {
    padding: 10px 10px 0 10px;
}
ul.colnav {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.colnav li {
    padding: 0;
    margin: 0 0 10px 0;
    float: left;
    font-size: 1.167em;
}
ul.colnav li a,
ul.colnav li.selected span {
    padding: 10px;
    margin: 0 8px 0 0;
    display: block;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/* Collection navigation small header */
#micro #collectionnavwrap {
    padding: 0;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#micro div.colnav1 {
    margin: 0;
    padding: 0;
    display: block;
    background: none;
    clear: none;
}
#micro ul.colnav li {
    margin: 10px 0 0 0;
}
#micro ul.colnav li a,
#micro ul.colnav li.selected span {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
/******************** Page ********************/
#page {
    padding: 0 10px 10px 10px;
    margin: 10px 0 0 0;
    clear: both;
}
.viewrbuttons {
    float: right;
    margin-top: 10px;
}
/* page footer */
.viewfooter {
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
}
.viewfooter .tags {
    margin-bottom: 10px;
}
.viewfooter .submissionform {
    margin-bottom: 10px;
}
.viewfooter .releaseviewform {
    background: #EEEEEE;
    margin-bottom: 10px;
}
.viewfooter .releaseviewform tr {
    display: inline-block;
}
.viewfooter .releaseviewform th {
    padding: 0;
}
.viewfooter .releaseviewform tr#releaseview_submittedview_container td {
    padding: 8px 5px;
}
/* feedback */
#feedbacktable .r0,
#feedbacktable .r1 {
    background: none;
    margin: 0 0 15px 0;
}
#feedbacktable .commentleft {
    float: left;
    width: 50px;
    padding: 0 5px 0 0;
}
#feedbacktable .commentrightwrap {
    margin-left: 50px;
    padding: 5px;
}
#feedbacktable .commentrightwrap p span {
    line-height: 1.333em;
}
#feedbacktable .commentrightwrap .fr {
    white-space: nowrap;
    margin: 0 0 3px 3px;
}
#feedbacktable .commentrightwrap .fr .makepublicbtn {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
#feedbacktable .commentrightwrap .fr .makepublicbtn input {
    margin: 0 0 0 5px;
}
#feedbacktable .commentrightwrap .author {
    margin: 0 0 3px 0;
}
#feedbacktable .commentrightwrap .commentrating {
    margin: 0 0 3px 0;
}
#feedbacktable p {
    margin: 5px 0;
}
#feedbacktable .attachmessage,
#feedbacktable .privatemessage,
#feedbacktable .requestmessage,
#feedbacktable .deleteddetails {
    margin: 3px 0 0 0;
}
#feedbacktable .undercomment {
    margin: 3px 0 0 55px;
}
#feedbacktable form,
#feedbacktable form div {
    display: inline;
    vertical-align: top;
}
/* view menu */
#viewmenu {
    margin-top: 10px;
    line-height: 24px;
}
#viewmenu a {
    margin: 0 15px 0 5px;
    padding: 3px 0
}
#viewmenu .help a {
    padding: 0;
}
/* feedback/objection form */
#add_feedback_form,
#objection_form {
    margin-top: 5px;
    padding: 10px;
}
/******************** Blocktype icons panel ********************/
#editcontent-sidebar-wrapper {
    position: absolute;
    padding: 0 0 0 6px;
    z-index: 2;
}
#editcontent-sidebar {
    width: 170px;
    left: 0px;
    top: 15px;
    position: relative;
    padding: 7px 3px 7px 7px;
    border-radius: 5px 0 0 5px;
}
.no-js #editcontent-sidebar {
    top: 5px;
}
#editcontent-sidebar.collapsed {
    width: 42px;
}
#editcontent-sidebar.collapsed .withjs {
    text-indent: -9999px;
}
#content-editor-header {
    height: 38px;
    text-indent: -9999px;
    width: 38px;
    float: right;
    margin-top: -24px;
    margin-right: -5px;
    margin-bottom: 3px;
    cursor: pointer;
}
/* fix IE8 position */
#content-editor-header/*\**/ {
    margin-top: -23px\9;
}
.no-js #content-editor-header {
    height: 5px;
    margin: 0;
    cursor: default;
}
.collapsed #content-editor-header {
    background: url("raw/static/images/contenteditor/expand.png") no-repeat right 0;
}
.open #content-editor-header {
    background: url("raw/static/images/contenteditor/collapse.png") no-repeat right 0;
}
#content-editor-header div {
    font-size: 1.167em;
    font-weight: bold;
    padding: 10px;
}
.no-js #content-editor-header div {
    display: none;
}
#blocktype-common {
    clear: both;
    text-align: left;
}
#blocktype-common .blocktype {
    margin-bottom: 4px;
}
.blocktype {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 1.083em;
    line-height: 1em;
    padding: 4px 4px 4px 32px;
    vertical-align: middle;
}
.no-js .blocktype {
    padding-left: 50px;
}
.blocktype-list .blocktype-radio {
    cursor: default; /* ie fix */
    margin: 0 0 0 -44px;
    vertical-align: middle;
}
.blocktype img {
    vertical-align: middle;
    margin-left: -28px;
}
.no-js .blocktype img {
	margin: 0;
}
.blocktypetitle {
    margin-left: 4px;
    vertical-align: middle;
}
#editcontent-sidebar.collapsed .blocktype .blocktypetitle {
    display: none;
}
/* dragging */
.ui-draggable-dragging {
    font-size: 0.750em;
}
.ui-draggable-dragging .blocktype {
    opacity: 0.9;
    filter: alpha(opacity=90);
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-indent: 0 !important;
    width: auto !important;
}
/* accordion */
#accordion {
    clear: both;
    font-size: 1em;
}
.block-category-title .withjs {
    background: url("raw/static/images/contenteditor/arrow.png") no-repeat right bottom;
    font-weight: bold;
    font-size: 1.167em;
    text-align: left;
    padding: 7px 5px 7px 32px;
    text-decoration: none;
}
.block-category-title .nonjs {
    background: url("raw/static/images/contenteditor/arrow.png") no-repeat right bottom;
    font-weight: bold;
    font-size: 1.167em;
    text-align: left;
    padding: 7px 5px 7px 32px;
    display: block;
    text-decoration: none;
}
.block-category-title .withjs:hover,
.block-category-title .nonjs:hover {
    text-decoration: none;
}
#block-category-general,
#block-category-internal,
#block-category-fileimagevideo,
#block-category-external,
#block-category-blog {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 4px;
}
#block-category-general.ui-state-active,
#block-category-internal.ui-state-active,
#block-category-fileimagevideo.ui-state-active,
#block-category-external.ui-state-active,
#block-category-blog.ui-state-active {
    margin-bottom: 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
}
#block-category-general {
    background-image: url("raw/static/images/contenteditor/general.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
#block-category-internal {
    background-image: url("raw/static/images/contenteditor/personalinfo.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
#block-category-fileimagevideo {
    background-image: url("raw/static/images/contenteditor/media.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
#block-category-external {
    background-image: url("raw/static/images/contenteditor/external.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
#block-category-blog {
    background-image: url("raw/static/images/contenteditor/journal.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
/* container around blocktypes under each category */
#blog,
#internal,
#general,
#fileimagevideo,
#external {
    text-align: left;
    padding: 2px;
    margin-bottom: 4px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.no-js #blog,
.no-js #internal,
.no-js #general,
.no-js #fileimagevideo,
.no-js #external { 
	margin-top: -2px;
}
/* theme selector */
#select-theme {
    clear: both;
    background-image: url("raw/static/images/contenteditor/theme.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 4px;
    padding: 4px;
}
#select-theme-header {
    font-size: 1.167em;
    font-weight: bold;
    clear: both;
    padding: 4px 0 4px 28px;
}
#select-theme select {
    width: 160px;
    margin: 0;
}
#editcontent-sidebar.collapsed #select-theme-header {
    display: none;
}
#editcontent-sidebar.collapsed #select-theme select {
    width: 28px;
    margin-top: 26px;
}
/******************** Bottom pane of edit page ********************/
#noblocks {
    font-size: 1.167em;
    text-align: center;
    padding: 10px;
}
#tabcontent {
    min-height: 435px;
}
#tabcontent #page,
#tabcontent #page.open {
    margin-left: 177px;
}
#tabcontent #page.collapsed {
    margin-left: 49px;
}
#page #bottom-pane {
    padding: 10px;
    min-height: 435px;
    background: #FFFFFF;
}
.no-js #page #bottom-pane {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 415px;
}
#blocksinstruction {
    padding: 10px 10px 0 10px;
    font-style: italic;
}
/******************** Column layout ********************/
.column {
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 10px 0.9% 10px 0.9%;
    position: relative;
}
/* these column width rules are required only for when a column is
   added/removed dynamically (users have to turn this on in their
   preferences) */
.columns1 {
    width: 99%;
}
.columns2 {
    width: 48%;
}
.columns3 {
    width: 31%;
}
.columns4 {
    width: 23%;
}
.columns5 {
    width: 18%;
}
/* an explicit height for when there is one column and no remove button */
.column-header {
    padding: 3px;
    position: relative;
    margin-bottom: 5px;
    background: #EEEEEE;
}
.add-button {
    background: #EEEEEE;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
input.newblockhere {
    width: 90%;
    margin: 0 !important;
}
.add-column-left {
    position: absolute;
    top: 3px;
    left: 3px;
}
.add-column-center {
    position: absolute;
    top: 3px;
    right: 3px;
}
.add-column-right {
    position: absolute;
    top: 3px;
    right: 3px;
}
.remove-column {
    text-align: center;
}
.column-header-empty {
    height: 1px;
    line-height: 1px;
}
.column-content {
    min-height: 20px;
}
.rowspacer {
    background: #FFF;
}
/******************** Blocks ********************/
.blockinstance {
    margin: 0;
    padding: 10px 0;
    position: relative;
}
/* block control */
#main-column.edit-content .blockinstance-header {
    cursor: move;
}
.blockinstance-controls {
    float: right;
    margin-left: 10px;
}
.blockinstance-controls input,
.blockinstance-controls input.submit,
.blockinstance-controls input.cancel {
    height: 24px;
    width: 24px;
    padding: 0;
    cursor: pointer;
    margin: 0 0 0 5px;
}
/* retractable blocks */
img.retractablebtn {
    margin: 0 0 0 5px;
}
.subpage .retractable .blockinstance-controls img.retractablebtn {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
div.blockinstance-header .arrow {
    float: right;
    cursor: pointer;
}
/* block header */
.blockinstance-header {
    margin-bottom: 3px;
}
/* block content */
.blockinstance-content {
    overflow-x: hidden;
}
.blockinstance-content .shortcut {
    padding: 5px;
    background: #EEEEEE;
    text-align: center;
    margin-bottom: 10px;
}
.blockinstance-content .shortcut span {
    margin: 5px;
    display: block;
}
.blockinstance-content p.noartefacts {
    text-align: center;
    margin: 0 0 5px 0;
}
.blockinstance-content fieldset {
    padding: 5px;
}
.blockinstance-content fieldset table {
    margin: 5px 0;
}
.blockinstance-content div a img {
    max-width: 100%;
}
table.maharatable tr#instconf_readonlymsg_container td,
table.maharatable tr#instconf_otherblocksmsg_container td {
    background-color: #FEE7E7;
}
#instconf_artefactid_selectlist,
#instconf_artefactids_selectlist {
    margin-bottom: 10px;
}
#instconf_textreadonly_display {
    background: #F4F4F4;
    border: 1px solid #CCCCCC;
    margin: 5px 0;
    padding: 5px;
    height: 10em;
    overflow-y: auto;
}
/* table */
.maharatable {
    margin: 0;
    width: 100%;
}
.maharatable td label {
    font-weight: normal;
}
.radio td label {
    line-height: 1.667em;
}
/******************** Block config tabs ********************/
ul.artefactchooser-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.167em;
    position: relative;
    z-index: 1;
    clear: both;
}
ul.artefactchooser-tabs li {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
    text-decoration: none;
    display: inline-block;
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited ul.artefactchooser-tabs li.current a:active {
    text-decoration: none;
    cursor: default;
}
/******************** Block config sub tabs ********************/
ul.artefactchooser-subtabs {
    margin: 10px 0;
    padding: 0;
    line-height: 2em;
    list-style: none;
}
ul.artefactchooser-subtabs li {
    display: inline;
    padding: 0 5px;
    margin: 0;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
    font-weight: bold;
    text-decoration: none;
}
/******************** Block config tab body ********************/
#artefactchooser-body {
    clear: left;
    margin-bottom: 5px;
    display: block;
    padding: 10px;
}
#artefactchooser-body .artefactchooser-data th label {
    font-weight: bold;
}
#artefactchooser-body .artefactchooser-data td {
    padding-top: 0;
}
#artefactchooser-body .artefactchooser-data td.iconcell {
    padding-top: 3px;
}
#artefactchooser-body .artefactchooser-data td p {
    margin: 0 0 5px 0;
}
#artefactchooser-body .artefactchooser-data td br {
    line-height: 1px;
    height: 1px;
}
#artefactchooser-searchform {
    margin-bottom: 10px;
}
/******************** Blocks pagination ********************/
.ac-pagination {
    white-space: nowrap;
}
.ac-pagination .results {
    background: #EEEEEE;
}
.ac-pagination a,
.ac-pagination .disabled {
    margin: 0 1px;
    padding: 1px 3px;
}
.blockinstance-content .center .pagination {
    background-color: #EEEEEE;
}
/******************** Configure blockinstance ********************/
.blockinstance.configure {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 12 !important;
    max-width: 85%;
    font-size: 0.75em;
}
#micro .configure {
    font-size: 0.75em;
    line-height: 1.333em;
}
#micro .subpage .configure {
    font-size: 1em;
}
.no-js .blockconfig-background {
    background: #FFFFFF;
    position: relative;
   	z-index: 11;
}
.no-js .blockinstance.configure {
    font-size: 1em;
}
/******************** View wizard controls ********************/
#view-wizard-controls {
    padding-bottom: 5px;
}
#view-wizard-controls form {
    display: inline;
}
/******************** Viewing artefact ********************/
#view .filedata-icon {
    padding: 5px 10px 10px 10px;
    margin: 0 15px 10px 0;
    text-align: center;
}
#view .filedata-thumb {
    margin: 0 5px;
}
table.maharatable tr#instconf_otherblocksmsg_container td {
    padding: 5px;
    font-style: italic;
}
/******************** Different blocktype styles ********************/
/* External feed block */
#blocktype_externalfeed_title {
    font-weight: bold;
    margin: 5px 0;
}
#blocktype_externalfeed_title a img {
    vertical-align: middle;
}
#blocktype_externalfeed_feed .feedlogoimage {
    margin: 10px 0;
}
#blocktype_externalfeed_feed .feedlogoimage img {
    max-width: 144px;
    max-height: 400px;
}
#blocktype_externalfeed_desc {
    padding-bottom: 5px;
    border-bottom: 1px dotted #D1D1D1;
}
#blocktype_externalfeed_entries .title {
    margin: 10px 0;
}
#blocktype_externalfeed_entries ol,
#blocktype_externalfeed_entries ul {
    margin: 10px 0 0 0;
}
.feedcontent {
    border-bottom: 1px dotted #D1D1D1;
    padding-bottom: 10px;
}
.feedcontent h1,
.feedcontent h2 {
    font-size: 1.333em;
}
.feedcontent h3 {
    font-size: 1.25em;
}
.feedcontent h4 {
    font-size: 1.167em;
}
.feedcontent h5 {
    font-size: 1.083em;
}
.feedcontent h6 {
    font-size: 1em;
}
#blocktype_externalfeed_lastupdate {
    padding: 5px 0 0 0;
}
/* External media block */
.mediaplayer-container embed,
.mediaplayer-container object,
.blockinstance-content iframe {
    max-width: 100%;
}
/* list in configure external media */
.inlinelist li {
    display: inline;
    margin: 0 20px 0 0;
}
/* Files to download block */
.filedownload-item {
    margin-bottom: 10px;
}
.filedownload-item p {
    margin: 3px 0;
}
.filedownload-item .description {
    margin: 3px 0;
}
#artefactchooser-body .fileupload label {
    font-weight: bold;
}
#instconf_artefactids_agreement,
#instconf_artefactid_agreement {
    margin-bottom: 10px;
    margin-left: 83px;
}
#instconf_artefactids_agreement label,
#instconf_artefactid_agreement label {
    margin-left: -83px;
}
#artefactchooser-body .filelist th label {
    font-weight: bold;
}
#artefactchooser-body .filelist #instconf_artefactids_edit_heading,
#artefactchooser-body .filelist #instconf_artefactid_edit_heading,
#artefactchooser-body .filelist #instconf_folder_edit_heading {
    font-size: 1.333em;
}
/* Folder block */
#commentfiles {
    padding: 10px;
    margin-top: 5px;
}
/* Gallery block */
.thumbnails {
    text-align: center;
    padding: 3px 0;
    vertical-align: middle;
}
.thumbnails a {
    display: block;
}
.frame {
    padding: 3px;
    margin: 0;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
}
/* Group info block */
.group-info {
    background-color: #EEEEEE;
    padding: 10px;
    margin: 0 0 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.group-info ul {
    margin: 0;
    list-style: none;
}
.group-info ul li {
    margin: 0;
    line-height: 2em;
}
.group-info li img {
    vertical-align: middle;
}
.group-info ul li span {
    margin: 0 25px 0 0;
}
/* Group pages block */
.groupviewsection {
    margin: 10px 0 15px 0;
}
.groupviewsection .title {
    font-size: 1.333em;
    margin-left: 5px;
}
.groupviewsection .owner {
    font-weight: normal;
    font-size: 0.857em;
}
.groupviewsection .listrow .title {
    margin: 3px 0;
    font-size: 1.167em;
}
.groupviewsection .tags {
    margin: 3px 0;
}
/* Image block */
.bt-image .blockinstance-content div a img {
    max-width: 100%;
}
/* Journal / Tagged journal block */
.blockinstance-content .shortcut select {
    max-width: 42%;
}
#blogpost .tags {
    margin: 3px 0;
}
#blogpost .postdetails {
    margin: 3px 0 10px 0;
}
#blogdescription {
    margin: 0 0 10px 0;
}
.postlist .post {
    padding: 0;
    border-top: 1px dotted #D1D1D1;
}
.postlist .title {
    margin-top: 10px;
    font-size: 1.333em;
}
.postlist .tags {
    margin: 0 0 5px 0;
}
.postlist .postdetails {
    padding: 0 0 10px 0;
}
/* Latest forum posts block */
#latestforumposts .right a img {
    vertical-align: middle;
}
/* Recent forum posts block */
#recentforumpostsblock {
    margin-top: 5px;
    margin-bottom: 5px;
}
#recentforumpostsblock .poster {
    font-size: 0.917em;
    line-height: 1.25em;
}
#recentforumpostsblock .poster img {
    vertical-align: middle;
}
/* License block */
.license .licenseicon {
    float: left;
    margin: 0 5px 5px 0;
}
img.license-icon {
    float: left;
    margin-right: 2ex;
}
/* More link */
.morelink {
    font-weight: bold;
}
.morelinkwrap {
    padding: 5px;
    text-align: right;
}
/* My friends / Members block */
.friendcell {
    display: inline-block;
    width: 100px;
    height: 90px;
    padding: 2px;
    overflow-y: hidden;
}
.friendcell a {
    height: 60px;
    display: block;
}
.membername {
    font-size: 0.917em;
    line-height: 1.25em;
    margin-top: 3px;
}
.membername a {
    height: auto;
    display: inline;
}
/* My groups block */
#usergroupstable .roledisplay {
    font-weight: normal;
}
/* My pages / Latest pages block */
.viewlist .groupuserdate {
    margin: 3px 0;
}
.viewlist .tags {
    margin: 3px 0;
}
/* My plans block */
.plansblocktable .c1 {
    width: 100px;
}
.plansblocktable .c3 {
    width: 70px;
}
.plan_incomplete {
    background: #FEE7E7;
}
td.completed,
td.incomplete {
    text-align: center;
    padding-top: 4px;
}
/* Slideshow block */
.slideshow {
    text-align: center;
}
.slideshow table td {
    vertical-align: middle;
}
.slideshow table td a {
    display: block;
}
.slideshow .control {
    font-size: 3em;
    width: 20px;
}
.slideshow .control .disabled:hover,
.slideshow .control .disabled {
    color: #DDDDDD;
    cursor: default;
}
.slideshow .control span:hover {
    color: #888888;
    cursor: pointer;
}
/* Wall block */
.bt-wall form {
    margin: 0 0 10px 0;
}
