/**
 * Stylesheet for Mahara's Raw theme.
 *
 * @author     Catalyst IT Ltd
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL version 3 or later
 * @copyright  For copyright information on Mahara, please see the README file distributed with this software.
 */

/******************** General rules ********************/
/* reset styles */
html {
    margin: 0;
    padding: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
button {
    font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
}
#container,
.sitemessage,
#switchwrap {  /* Use a 12px base font size with a 16px line height */
    font-size: 0.75em; /* 16px x .75 = 12px */
    line-height: 1.333em; /* 12px x 1.333 = 16px */
}
pre,
code,
tt {
    font-size: 1em;
    font-family: "Courier New", "DejaVu Sans Mono", monospace;
    white-space: pre-wrap;
}
blockquote {
    margin: 10px 30px;
    border-left: 2px solid #999999;
    padding-left: 1em;
}
acronym {
    border-bottom: 1px dotted #D1D1D1;
}
img {
    border: 0;
}
ul,
ol {
    margin: 5px 0 10px 0;
    padding: 0;
}
ul li {
    margin: 0 0 3px 20px;
}
ol li {
    margin: 0 0 3px 30px;
}
p {
    margin: 10px 0;
}
p span {
    line-height: 1.333em;
}
.backtrace {
    font: normal 110%/1.5em monospace;
}
/******************** Body ********************/
body {
    color: #333333;
    font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
    font-size: 100%; /* Fixes exaggerated text resizing in IE7 */
    margin: 0;
    padding: 0;
}
body#micro {
    background-color: #EEEEEE;
}
/******************** General headings ********************/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0 10px 0;
    line-height: 1.25em;
    white-space: normal;
    word-wrap: break-word;
}
h1 {
    font-size: 2em; /* 24px */
}
h2 {
    font-size: 1.667em; /* 20px */
}
h3 {
    font-size: 1.5em; /* 18px */
}
h4 {
    font-size: 1.333em; /* 16px */
}
h5 {
    font-size: 1.167em; /* 14px */
}
h6 {
    font-size: 1em; /* 12px */
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
/******************** Placement ********************/
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cl {
    clear: left;
}
.cr {
    clear: right;
}
.cb {
    clear: both;
}
.fullwidth {
    width: 100%;
}
.halfwidth {
    width: 50%;
}
.onethirdwidth {
    width: 33%;
}
form.oneline.inline div,
.inline {
    display: inline;
}
.hidden,
.dontshow {
    display: none;
}
/* Hides without being "destructive" - element + children still have full
   width/height */
.safe-hidden {
    position: absolute;
    visibility: hidden;
    top: 0;
}
.ie7 .safe-hidden {
    position: relative;
    height: 0;
    margin: 0;
    padding: 0;
}
.nojs-hidden-inline,
.nojs-hidden-block,
.nojs-hidden-table,
.nojs-hidden-table-cell {
    display: none;
}
/******************** Loading ********************/
#loading-box {
    background-color: #DDDDDD;
    display: none;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    color: #333333;
    left: 48%;
    -webkit-box-shadow: 0px 0px 5px 0px #333333;
    box-shadow: 0px 0px 5px 0px #333333;
}
/******************** Overlay ********************/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #000000;
    filter: alpha(opacity=70);
    z-index: 11;
}
/******************** Ajax login ********************/
#ajax-login-form {
    border: 5px solid #DDDDDD;
    background-color: #FFFFFF;
    position: absolute;
    top: 150px;
    left: 20%;
    width: 250px;
    z-index: 1000;
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/******************** Help ********************/
.help {
    vertical-align: top;
}
.help a {
    display: inline-block;
}
.ie7 .help a {
    display: inline;
}
.help a:hover {
    cursor: help;
}
.help a:focus {
    outline: none;
}
.contextualHelp {
    padding: 10px;
    margin: 0;
    width: 30%;
    max-height: 400px;
    overflow: auto;
    background-color: #F9F9F9;
    border: 1px solid #B2B2B2;
    z-index: 2000;
    -webkit-box-shadow: 0px 0px 5px 0px #888888;
    box-shadow: 0px 0px 5px 0px #888888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/**************** Messages ****************/
div.ok {
    background: #E6F6E0 url(../images/success.png) no-repeat 4px 4px;
    padding: 5px 5px 5px 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.333em;
    margin-bottom: 3px;
    font-size: 1em;
    color: #333333;
}
div.error,
span.error {
    background: #FEE7E7 url(../images/failure.png) no-repeat 4px 4px;
    padding: 5px 5px 5px 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.333em;
    margin-bottom: 3px;
    font-size: 1em;
    color: #333333;
}
div.info {
    background: #E5ECF4 url(../images/info.png) no-repeat 4px 4px;
    padding: 5px 5px 5px 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.333em;
    margin-bottom: 3px;
    font-size: 1em;
    color: #333333;
}
div.warning,
.errmsg {
    background: #FFF3E0 url(../images/warning.png) no-repeat 4px 3px;
    padding: 5px 5px 5px 26px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.333em;
    margin-bottom: 3px;
    font-size: 1em;
    color: #333333;
}
/* system messages between nav and main content */
#messages {
    padding: 0;
    margin: 10px 0;
}
/* system messages */
.message {
    margin: 5px 0;
    padding: 5px;
    background: #F6F6F6;
    color: #333333;
    text-align: center;
}
.message p:first-child {
    margin-top: 0;
}
.message p:last-child {
    margin-bottom: 0;
}
/* warning messages without icon */
.attentionmessage {
    background: #FFF3E0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}
.attentionform {
    margin: 10px auto 5px auto;
}
/* delete messages without icon */
.deletemessage {
    background: #FEE7E7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}
.deletemessage .deletebuttonwrap {
    padding: 5px;
}
/******************** General text ********************/
.s {
    font-size: 0.917em;
}
.description,
.unvalidated,
.postdetails {
    font-size: 0.917em;
    color: #888888;
}
.nowrap {
    white-space: nowrap;
}
.dull {
    color: #888888;
}
a,
a:visited,
a:link,
a:active,
a:hover,
a:focus {
    outline: none;
}
/* some common listing text styles */
.title,
.title:first-child {
    font-size: 1.167em;
    margin: 3px 0;
}
.detail {
    margin: 3px 0;
}
.detail br {
    line-height: 1px;
    height: 1px;
    content: " ";
}
.postedon {
    font-size: 0.917em;
    line-height: 1.167em;
}
.listing .listrow {
    padding: 3px 5px;
}
.listing .tags {
    margin: 3px 0;
}
/******************** Tables ********************/
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table.fixwidth {
    table-layout: fixed;
}
th {
    padding: 3px 5px;
    text-align: left;
    line-height: 1.25em;
    vertical-align: top;
}
thead th {
    white-space: nowrap;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.167em;
}
/* those that need to align with td */
.file th,
.html th,
.text th,
.tags th,
.select th,
.wysiwyg th,
.filebrowser th,
.textarea th,
.userlist th,
.emaillist th,
.calendar th,
.radio th,
.checkbox th,
.expiry th,
.bytes th,
.date th,
.password th,
.multitext th {
    padding-top: 8px;
}
td {
    padding: 3px 5px;
    vertical-align: top;
}
.valign {
    padding: 6px 5px 3px 5px;
}
tfoot td {
    padding: 5px 0;
}
/* small td for tickboxes and icons */
td.narrow {
    padding: 3px;
    width: 25px;
}
/* to align tag in edit tables */
tr.tags td div div {
    line-height: 2em;
}
/* Alternative row background */
.r0,
.r0 td,
.d0 {
    background-color: #F9F9F9;
}
.r1,
.r1 td,
.d1 {
    background-color: #F3F3F3;
}
/* Highlight row background  */
tr.highlight td,
tr.highlight-file td {
    background-color: #FFFCD8;
}
/* icon container (icons are 24px wide) */
td.icon-container {
    vertical-align: top;
    width: 25px;
    text-align: center;
}
td.icon-container img {
    max-width: 25px;
}
/* profile icon alignments */
.profile-icon-container {
    vertical-align: middle;
    margin-right: 2px;
}
.profile-icon-left {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.profile-icon-right {
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}
/* table with preserved whitespace */
.messagebody {
    white-space: pre-wrap;
    overflow: auto;
}
.messagebody-newpost,
.messagebody-feedback {
    white-space: normal;
}
/* expandable */
tr.toggle, td.toggle {
    width: 10px;
    height: 10px;
    padding-left: 18px;
    background-image: url(../images/expanded.png);
    background-repeat: no-repeat;
    background-position: 3px 4px;
}
td.toggle-padding {
    padding-left: 18px;
}
.valign-middle {
    vertical-align: middle;
}
tr.expandable, td.expandable {
    cursor: pointer;
    background-image: url(../images/expand.png);
    background-repeat: no-repeat;
    background-position: 3px 5px;
}
tr.expanded, td.expanded {
    cursor: pointer;
    background-image: url(../images/expanded.png);
    background-repeat: no-repeat;
    background-position: 3px 4px;
}
/******************** Forms ********************/
form {
    margin: 0;
    padding: 0;
}
/* required */
.requiredmarker {
    color: #FF0000;
}
/* description */
.pieform td.description {
    padding-top: 0 !important;
}
/* label */
label {
    font-weight: bold;
}
.radio td label {
    font-weight: normal;
    line-height: 1.667em;
}
/* fieldset */
fieldset {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #d1d1d1;
}
fieldset.collapsible {
    padding: 10px 15px;
    margin: 5px 0;
}
fieldset.collapsed {
    padding: 0 15px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.no-js fieldset.collapsed {
    padding: 10px 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #d1d1d1;
}
fieldset.collapsed div,
fieldset.collapsed table {
    position: absolute;
    display: none;
    padding: 0;
    border: 0;
    margin: 0;
}
.no-js fieldset.collapsed div,
.no-js fieldset.collapsed table {
    display: inherit;
    position: inherit;
}
/* legend */
legend {
    font-weight: bold;
    font-size: 1.333em;
}
fieldset.collapsible legend {
    font-size: 1.167em;
}
fieldset.collapsible legend a {
    padding-left: 15px;
    background: url(../images/expanded.png) 0 center no-repeat;
    text-decoration: none;
}
fieldset legend a:hover {
    text-decoration: none;
}
fieldset.collapsed legend a {
    background: url(../images/expand.png) 0 center no-repeat;
}
.no-js fieldset.collapsed legend a {
    background: url(../images/expanded.png) 0 center no-repeat;
}
/* select */
select {
    margin-right: 3px;
    padding: 4px 3px 3px 3px;
    border-top: 1px solid #ABADB3;
    border-right: 1px solid #DBDFE6;
    border-bottom: 1px solid #E3E9EF;
    border-left: 1px solid #E2E3EA;
    font-size: 1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
select {
    padding: 3px 3px 3px 3px;
}
}
.ie8 select {
    height: 25px;
    padding: 4px 3px 4px 3px;
}
.ie7 select {
    height: 25px;
}
div.select,
.no-js div.select {
    margin-bottom: 3px;
}
.column select {
    max-width: 80%;
}
#institution_authplugin_container select#dummySelect,
select#edituser_site_authinstance,
select#edituser_institution_addinstitution,
select#uploadcsv_authinstance {
    max-width: 380px;
}
.ie7 #institution_authplugin_container select#dummySelect,
.ie7 select#edituser_site_authinstance,
.ie7 edituser_institution_addinstitution,
.ie7 select#uploadcsv_authinstance {
    width: 380px;
}
/* radio & checkbox */
.radio,
.checkbox {
    vertical-align: top;
}
/* horizontal rule */
hr {
    border-bottom: 1px dotted #D1D1D1;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
/* textarea */
textarea {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ABADB3;
    border-right: 1px solid #DBDFE6;
    border-bottom: 1px solid #E3E9EF;
    border-left: 1px solid #E2E3EA;
    resize: none;
    font-size: 1em;
}
/* resizable textbox */
.resizable-textarea {
    max-width: 100% !important;
}
div.grippie {
    background: #EEEEEE url(../images/grippie.png) no-repeat scroll 100% 50%;
    cursor: s-resize;
    height: 14px;
    padding: 3px 0 0 0;
}
/* inputs */
input.text,
input.password,
input[type=text],
input[type=password] {
    padding: 3px 3px 4px 3px;
    border-top: 1px solid #ABADB3;
    border-right: 1px solid #DBDFE6;
    border-bottom: 1px solid #E3E9EF;
    border-left: 1px solid #E2E3EA;
}
/* removes dotted outline of buttons */
input {
    outline: none;
}
/* removes dotted outline of buttons in firefox */
input::-moz-focus-inner {
    border: 0;
}
/* hidden */
.no-js .nojs-hidden-inline {
    display: none;
}
/* file browser in IE */
input.file/*\**/ {
    background: #FFFFFF\9;
}
input.file[disabled="disabled"] {
    background/*\**/: #f0f0f0\9;
}
/* input error */
input.error,
textarea.error {
    background-color: #FFF2F2;
}
/* calendar */
input.calendar {
    margin-right: 5px;
}
a.pieform-calendar-toggle img {
    vertical-align: bottom;
}
input.calendar.required {
    background-color: #FFF2F2;
}
/* mceEditor */
.mceEditor {
    display: inline-block;
}
#mce_fullscreen_container .mceEditor {
    display: block;
}
/******************** Buttons ********************/
/* Default buttons */
/* default state */
input.submit,
input.cancel,
button,
.buttondk,
input.button,
input.select,
input#files_filebrowser_edit_artefact,
.btn, .btn:link, .btn:visited,
ul.groupuserstatus li.invite span,
ul.groupuserstatus li.jointhisgroup form {
    font-size: 1em;
    line-height: 1.333em;
    border: 1px solid #707070;
    margin: 0 5px 0 0;
    padding: 4px 5px 3px 5px;
    background: url(../images/btn_bkgd.png) repeat-x 0 50%;
    text-decoration: none;
    cursor: default;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
}
/* hover state */
input.submit:hover,
input.cancel:hover,
button:hover,
.buttondk:hover,
input.button:hover,
input.select:hover,
input#files_filebrowser_edit_artefact:hover,
.btn:hover,
ul.groupuserstatus li.invite span:hover,
ul.groupuserstatus li.jointhisgroup form:hover {
    border-color: #3C7FB1;
    background: url(../images/btn_bkgd_hover.png) repeat-x 0 50%;
    text-decoration: none;
    cursor: default;
    color: #333333;
}
/* depress state */
input.submit:active,
input.cancel:active,
button:active,
.buttondk:active,
input.button:active,
input.select:active,
input#files_filebrowser_edit_artefact:active,
.btn:active,
ul.groupuserstatus li.invite span:active,
ul.groupuserstatus li.jointhisgroup form:active {
    border-color: #3C7FB1;
    background: url(../images/btn_bkgd_focus.png) repeat-x 0 50%;
    color: #333333;
}
.ie7 input.submit,
.ie7 input.cancel,
.ie7 button,
.ie7 .buttondk,
.ie7 input.button,
.ie7 input.select,
.ie7 input#files_filebrowser_edit_artefact,
.ie7 .btn,
.ie7 ul.groupuserstatus li.invite span,
.ie7 ul.groupuserstatus li.jointhisgroup form {
    width: auto;
    overflow: visible;
    padding: 3px 5px 2px 5px;
}
/* Delete/suspend buttons (red) */
/* default state */
.deletemessage a.delete,
#delete_tag_submit,
#close_site_submit,
#suspenddelete #delete #edituser_delete_submit,
#institution_suspend_submit,
#networkingform_deletesubmit,
input#buttons_delete,
input#delete_delete,
input#deletetaskform_submit,
input#delete_all_notifications_submit,
#activitylist input.btn-del,
input#edituser_institution_rhmoodle_remove,
input#settings_delete,
input#edituser_institution_massey_remove,
input#account_delete_submit {
    border-color: #707070;
    background: url(../images/btn_bkgd_red.png) repeat-x 0 50%;
    color: #000000;
}
/* hover state */
.deletemessage a.delete:hover,
#delete_tag_submit:hover,
#close_site_submit:hover,
#suspenddelete #delete #edituser_delete_submit:hover,
#institution_suspend_submit:hover,
#networkingform_deletesubmit:hover,
input#buttons_delete:hover,
input#delete_delete:hover,
input#deletetaskform_submit:hover,
input#delete_all_notifications_submit:hover,
#activitylist input.btn-del:hover,
input#edituser_institution_rhmoodle_remove:hover,
input#settings_delete:hover,
input#edituser_institution_massey_remove:hover,
input#account_delete_submit:hover {
    border-color: #950000;
    background: url(../images/btn_bkgd_red_hover.png) repeat-x 0 50%;
    color: #FFFFFF;
}
/* depress state */
.deletemessage a.delete:active,
#delete_tag_submit:active,
#close_site_submit:active,
#suspenddelete #delete #edituser_delete_submit:active,
#institution_suspend_submit:active,
#networkingform_deletesubmit:active,
input#buttons_delete:active,
input#delete_delete:active,
input#deletetaskform_submit:active,
input#delete_all_notifications_submit:active,
#activitylist input.btn-del:active,
input#edituser_institution_rhmoodle_remove:active,
input#settings_delete:active,
input#edituser_institution_massey_remove:active,
input#account_delete_submit:active {
    border-color: #F23131;
    background: url(../images/btn_bkgd_red_focus.png) repeat-x 0 50%;
    color: #FFFFFF;
}
/* Other button customisation */
/* bolding some buttons */
#editgroup #editgroup_submit,
#editblog #editblog_submit,
#editpost #editpost_submitpost,
.fileedittable #files_filebrowser_edit_artefact,
#view-wizard-controls input.submit,
#editview #editview_submit,
#viewlayout input.submit,
#add_feedback_form #add_feedback_form_submit,
#objection_form #objection_form_submit,
.submitcancel .submit,
#export #export_submit,
#forumbtns a.editforumtitle,
#viewforum a.newforumtopic,
#forumbtns a.newforum,
.groupuserstatus .admincontrol .btn-editgroup,
input#login_submit,
input#files_filebrowser_upload,
input#instconf_artefactids_upload,
input#instconf_artefactid_upload,
input#designskinform_submit,
input#viewskin_submit {
    font-weight: bold;
}
/* bigger buttons */
#profileform #profileform_submit,
table.fileedittable input#files_filebrowser_edit_artefact,
table.fileedittable input#files_filebrowser_edit_cancel,
.rbuttons .btn,
.userviewrbuttons .btn,
tr.submit input.submit,
tr.submitcancel input.submit,
tr.submitcancel input.cancel,
#resumewrap tr.button input.button,
#resumewrap div button,
#view-wizard-controls input.submit,
#viewlayout .submitwrap input,
#collectiondonewrap a.btn,
.submitcancel input.submitcancel,
input#export_submit,
div#groupbox div.jointype a.btn,
input#edituser_delete_submit,
form#sitelicenses a.btn,
input#close_site_submit,
input#login_submit,
input#delete_tag_submit,
.upgrade .btn,
.viewrbuttons .btn, .viewrbuttons .btn:link, .viewrbuttons .btn:visited,
input#instconf_artefactids_edit_artefact,
input#instconf_artefactids_edit_cancel,
input#instconf_artefactid_edit_artefact,
input#instconf_artefactid_edit_cancel,
#addlayout,
input#viewlayout_submit,
input#files_filebrowser_upload,
input#instconf_artefactids_upload,
input#instconf_artefactid_upload,
input#designskinform_submit,
input#cancel_designskinform_submit {
    padding: 5px 10px;
    font-size: 1.167em
}
.rbuttons input.submit {
    padding: 4px 10px 5px 10px;
    font-size: 1.167em;
}
/* exceptions to the bigger and need to be made back to regular */
input#delete_all_notifications_submit,
input#edituser_institution_rhmoodle_submit,
input#edituser_institution_rhmoodle_remove,
input#edituser_institution_add,
input#friendscontrol_submit,
input#addviews_submit,
input#edituser_suspend_submit,
input#edituser_delete_submit,
input#institution_suspend_submit,
input#edituser_institution_massey_submit,
input#edituser_institution_massey_remove,
.pagetabs .btn,
.pagetabs input.submit,
input#usertype_typesubmit,
#pluginconfig table tr td fieldset table tr.submit input.submit,
input#designskinform_body_background_image_open_upload_browse,
input#designskinform_body_background_image_close_upload_browse,
input#designskinform_view_background_image_open_upload_browse,
input#designskinform_view_background_image_close_upload_browse {
    padding: 4px 5px 3px 5px;
    font-size: 1em;
}
tr.btn-subscribe input.btn-subscribe {
    padding: 3px 5px 2px 5px;
    font-size: 1em;
}
input#releaseview_submit {
    padding: 4px 5px 3px 5px !important;
    font-size: 1em !important;
}
.deletemessage .deletebuttonwrap .btn {
    padding: 5px 10px;
}
/* buttons that look like links */
.linkbtn {
    border: 0;
    cursor: pointer;
    background: none;
    padding: 0;
    font-size: 1em;
    color: #0000EE;
    text-decoration: underline;
}
/* disabled inputs */
input[disabled="disabled"],
input[disabled="disabled"]:hover {
    border-color: #aaaaaa;
    color: #aaaaaa;
    background: url(../images/btn_bkgd.png) repeat-x 0 50%;
}
input.text[disabled="disabled"],
input.text[disabled="disabled"]:hover,
input[type="text"][disabled="disabled"],
input[type="text"][disabled="disabled"]:hover {
    background: #f0f0f0;
    border-top: 1px solid #ABADB3;
    border-right: 1px solid #DBDFE6;
    border-bottom: 1px solid #E3E9EF;
    border-left: 1px solid #E2E3EA;
}
input[type="image"][disabled="disabled"],
input[type="image"][disabled="disabled"]:hover {
    opacity: 0.5;
   filter: alpha(opacity=50);
}
/* placement of buttons */
.rbuttons {
    float: right;
    margin-top: -40px;
    line-height: 2.167em;
}
.rbuttons form,
.rbuttons form div {
    display: inline;
}
.rbuttons input.submit,
.rbuttons a {
    display: inline-block;
    margin: 0 0 0 8px;
}
/* multiple icons in wrap */
.btns2 {
    width: 60px; /* 2 24px with 12px of padding = 60px. Icons*/
    white-space: nowrap;
}
.btns3 {
    width: 96px; /* 3 24px with 24px of padding = 96px. Icons*/
    white-space: nowrap;
}
/* removing link underline in icons and making link full block */
.btns2 a,
.btns3 a {
    margin: 0 0 0 8px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}
.btns2 input,
.btns3 input {
    margin: 0 0 0 8px;
}
.btns2 a:first-child,
.btns3 a:first-child {
    margin: 0;
}
ul.groupuserstatus li .btn {
    margin: 0 0 0 8px;
}
/* icon buttons */
.btn-big-edit {
    background: transparent url(../images/btn_edit.png) no-repeat 0 0 !important;
    border: 0 !important;
    margin-right: 0 !important;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-indent: -9999px;
    font-size: 1%;
    vertical-align: top;
    cursor: pointer !important;
}
.btn-big-del,
.customrow input {
    background: transparent url(../images/btn_deleteremove.png) no-repeat 0 0 !important;
    border: 0 !important;
    margin-right: 0 !important;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-indent: -9999px;
    font-size: 1%;
    vertical-align: top;
    cursor: pointer !important;
    color: transparent;
    display: inline-block;
}
.btn-big-close,
input#editpost_filebrowser_close_upload_browse,
input#editnote_filebrowser_close_upload_browse,
input#editgoalsandskills_filebrowser_close_upload_browse,
input#editcomposite_filebrowser_close_upload_browse,
input#designskinform_body_background_image_close_upload_browse,
input#designskinform_view_background_image_close_upload_browse {
    background: transparent url(../images/btn_close.png) no-repeat 0 0;
    border: 0 !important;
    margin-right: 0 !important;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-indent: -9999px;
    font-size: 1%;
    vertical-align: top;
    cursor: pointer !important;
}
.btn-big-add {
    background: transparent url(../images/btn_add.png) no-repeat 0 0 !important;
    border: 0 !important;
    margin-right: 0 !important;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-indent: -9999px;
    font-size: 1%;
    vertical-align: top;
    cursor: pointer !important;
}
.btn-big-export {
    background: transparent url(../images/btn_export.png) no-repeat 0 0 !important;
    border: 0 !important;
    margin-right: 0 !important;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-indent: -9999px;
    font-size: 1%;
    vertical-align: top;
    cursor: pointer !important;
}
/* links or buttons with icons **/
.btn-add {
    background: transparent url(../images/add_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-approve {
    background: transparent url(../images/approve_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-config {
    background: transparent url(../images/config_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-del {
    background: transparent url(../images/delete_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-deny {
    background: transparent url(../images/deny_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-display {
    background: transparent url(../images/display_small.png) no-repeat 0 50%;
}
.btn-edit {
    background: transparent url(../images/edit_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-friend {
    background: transparent url(../images/friend_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-group {
    background: transparent url(../images/group_small.png) no-repeat 0 0;
    padding-left: 15px;
}
.btn-leavegroup {
    background: transparent url(../images/leave_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-login {
    background: transparent url(../images/join_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-message {
    background: transparent url(../images/message_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-pending {
    background: transparent url(../images/pending_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-reply {
    background: transparent url(../images/reply_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
.btn-request {
    background: transparent url(../images/request_small.png) no-repeat 0 50%;
    padding-left: 15px;
}
/******************** Pagination ********************/
div.pagination {
    text-align: center;
    margin: 3px 0;
    line-height: 2em;
}
div.pagination span {
    margin: 0 3px;
    display: inline-block;
}
div.pagination .selected {
    font-weight: bold;
    padding: 3px 5px;
}
div.pagination a {
    text-decoration: none;
    padding: 3px 5px;
    background: #EEEEEE;
    white-space: nowrap;
}
div.pagination .disabled {
    color: #C1C1C1;
    padding: 3px 5px;
    white-space: nowrap;
}
div.pagination .results {
    color: #838383;
    padding: 3px 0;
    line-height: 1.167em;
}
div.pagination .results a {
    border: 0;
}
form.pagination {
    margin: 5px 0;
}
/******************** Layout ********************/
#container {
    clear: both;
    width: 100%;
}
#header {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
}
#mainmiddle {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
}
#mainmiddlewrap {
    clear: both;
    background: #FFFFFF;
}
#main-wrapper {
    margin-right: 0;
    margin-left: 0;
}
#main-wrapper-narrow-right {
    margin-right: 256px;
    margin-left: 0;
}
#main-wrapper-narrow-left {
    margin-right: 0;
    margin-left: 256px;
}
.main-column,
.main-column-narrow {
    position: static;
    width: 100%;
}
#main-wrapper-narrow-left .main-column-narrow {
    float: right;
}
#main-wrapper-narrow-right .main-column-narrow {
    float: left;
}
#main-column-container {
    min-height: 0;  /* IE layout hack */
    padding: 10px 20px 20px 20px;
}
#left-column {
    width: 256px;
    margin-left: -256px;
    float: left;
}
#right-column {
    width: 256px;
    margin-right: -256px;
    float: right;
}
div.rel {
    position: relative;
    min-height: 0;  /* IE layout hack */
}
/******************** Header ********************/
/* top bar / site message */
.sitemessage {
    background-color: #FEE7E7;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #BEBEBE;
    color: #333333;
}
.sitemessage img {
    float: left;
    padding-right: 5px;
}
.sitemessage a,
.sitemessage a:visited,
.sitemessage a:link,
.sitemessage a:active {
    color: #B42D2D;
}
/* site logo */
#site-logo {
    float: left;
    margin: 10px 0 5px 10px;
}
#site-logo a {
    display: block;
}
/* header right */
#header-right {
    float: right;
    padding: 5px 10px 10px 10px;
    white-space: nowrap;
    display: block;
}
#header-right label {
    margin-right: 5px;
    color: #666666;
}
/* top navigation */
#right-nav ul {
    text-align: right;
    margin: 5px 0;
}
#right-nav li {
    display: inline;
    margin: 0;
    color: #D1D1D1;
}
#right-nav .navcount {
    padding: 0 0 0 2px;
}
#right-nav li a {
    padding: 0 5px;
}
#right-nav li a img {
    vertical-align: middle;
    margin: 0 2px;
}
#right-nav li.identity a {
    color: #666666;
    text-decoration: none;
}
/* language bar */
#right-nav li#language {
    display: inline-block;
}
#languageselect {
    margin: 15px 0 0 0;
}
/* login link */
#right-nav li#loginlink {
    display: inline-block;
}
#right-nav li#loginlink a {
    margin: 0 0 1px 8px;
}
/* search */
#usf {
    text-align: right;
    float: right;
    clear: right;
}
#usf_submit {
    margin: 0 0 0 3px;
    padding: 5px 5px 4px 5px;
}
/******************** Small header ********************/
#micro #header {
    padding: 10px 0 0 0;
}
/* buttons on the right */
.viewheadertop .links {
    text-align: right;
    margin-right: 10px;
}
.viewheadertop .links a.btn {
    margin: 0 0 0 8px;
}
/* site logo */
.viewheadertop a.small-logo {
    display: block;
    margin-left: 10px;
}
/* main navigation */
.viewheadertop #mainnav-container {
    padding: 3px 5px 3px 10px;
    color: #D1D1D1;
    float: left;
    white-space: nowrap;
}
.viewheadertop #mainnav-container #mainnav a {
    padding: 0 3px;
}
/* header heading and tabs */
.viewheader {
    padding: 10px 10px 0 10px;
    clear: both;
}
.viewheader .viewtitle,
.viewheader .collection-title {
    padding: 5px 0;
    margin: 0;
}
#micro .viewtitle, #micro .collection-title {
    text-align: center;
}
/******************** Main navigation ********************/
.main-nav {
    clear: both;
    font-size: 1.333em;
    white-space: nowrap;
    background: #EEEEEE;
}
.main-nav ul {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
    padding: 0;
}
.main-nav li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.main-nav li.selected {
    background: #DDDDDD;
}
.main-nav li span {
    display: inline-block;
}
.main-nav li a,
.main-nav li a:link,
.main-nav li a:visited,
.main-nav li a:active {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}
.main-nav li a:hover {
    background: #E9E9E9;
}
.ie7 .main-nav li {
    display: inline;
}
/******************** Sub navigation ********************/
#sub-nav {
    background: #DDDDDD;
}
#sub-nav ul {
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
    padding: 0;
}
#sub-nav li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
#sub-nav li a,
#sub-nav li a:link,
#sub-nav li a:visited,
#sub-nav li a:active {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}
#sub-nav li.selected a {
    color: #333333;
    font-weight: bold;
}
.ie7 #sub-nav li {
    display: inline;
}
/******************** Dropdown sub navigation ********************/
.main-nav .dropdown-sub {
    display: none;
    position: absolute;
    left: 0;
    z-index: 3;
    clear: both;
    padding: 0;
    margin: 0;
    min-width: 0;
}
.ie7 .main-nav .dropdown-sub {
    top: 36px;
}
.main-nav li:hover .dropdown-sub {
    display: block;
}
.main-nav .dropdown-sub li {
    list-style: none;
    display: block;
}
.main-nav .dropdown-sub li a,
.main-nav .dropdown-sub li a:link,
.main-nav .dropdown-sub li a:visited,
.main-nav .dropdown-sub li a:active {
    background: #E9E9E9;
    float: none;
    width: 140px;
    white-space: normal;
    text-align: left;
    font-weight: normal;
    font-size: 0.857em;
    display: block;
    text-decoration: none;
    padding: 8px 10px;
}
.main-nav .dropdown-sub li.selected a {
    font-weight: bold;
}
.main-nav .dropdown-sub li a:hover {
    background: #DDDDDD;
}
/******************** Tabs ********************/
ul.in-page-tabs {
    font-size: 1.167em;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    clear: both;
}
ul.in-page-tabs li {
    display: table-cell;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}
.ie7 ul.in-page-tabs li {
    display: inline;
}
ul.in-page-tabs li a,
ul.in-page-tabs li a:link,
ul.in-page-tabs li a:visited,
ul.in-page-tabs li a:active,
ul.in-page-tabs li input.linkbtn,
ul.searchtab li span.inactive {
    text-decoration: none;
    display: inline-block;
    padding: 10px 6px;
    border: 1px solid #D4D4D4;
    background: #EEEEEE;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    margin: 0 0 0 7px;
}
.ie7 ul.in-page-tabs li a,
.ie7 ul.in-page-tabs li a:link,
.ie7 ul.in-page-tabs li a:visited,
.ie7 ul.in-page-tabs li a:active,
.ie7 ul.in-page-tabs li input.linkbtn {
    margin: 0 0 0 3px;
}
ul.in-page-tabs li a.current-tab,
ul.in-page-tabs li a.current-tab:link,
ul.in-page-tabs li a.current-tab:visited,
ul.in-page-tabs li a.current-tab:active,
ul.in-page-tabs li input.current-tab {
    color: #333333;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF;
    background: 0;
}
/* tab body */
.subpage {
    border: 1px solid #D4D4D4;
    padding: 10px;
    margin-top: -1px;
    margin-bottom: 10px;
    clear: left;
    display: block;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
/******************** Sidebar ********************/
/* general sidebar styles */
.sideblock {
    clear: both;
}
.sideblock .sidebar-header {
    padding: 10px 10px 5px 10px;
}
.sideblock .sidebar-content {
    padding: 5px 10px 10px 10px;
}
.sideblock h3 {
    font-size: 1.333em;
    margin: 0;
}
.sideblock ul {
    padding: 0 0 0 15px;
    margin: 0;
    line-height: 1.5em;
}
.sideblock ul li {
    padding-bottom: 3px;
    margin: 0;
}
.sideblock ul li li {
    padding-bottom: 0;
    padding-top: 3px;
}
/* Sidebar login */
#sb-loginbox #loginform_container {
    width: 100%;
}
#sb-loginbox #login_submit_container input#login_submit {
    padding: 5px;
}
.main-column.editcontent {
    width: auto;
}
/* Sidebar profile */
#user-profileicon, #main-wrapper-narrow-left .main-column-narrow {
    float: right;
    padding-left: 3px;
    padding-bottom: 3px;
}
#user-profileicon a {
    display: inline-block;
}
#user-profileicon img {
    border: 1px solid #FFFFFF;
}
#sb-profile .sidebar-content {
    min-height: 30px;
}
#sb-profile .sidebar-content ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
}
#sb-profile .sidebar-content ul li {
    padding-bottom: 5px;
}
#sb-profile .sidebar-content ul ul {
    font-weight: normal;
    padding-left: 15px;
    list-style-type: disc;
}
#sb-profile .sidebar-content ul ul li {
    padding-bottom: 0;
}
#sbdatapeer {
    margin-top: 10px;
    clear: both;
    background: #EEEEEE;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#sbdatapeer a {
    background: url(../images/externallink_small.png) no-repeat 0 1px;
    padding-left: 15px;
}
#changeuser {
    margin-top: 10px;
    clear: both;
    background: #FEE7E7;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#changeuser a {
    font-weight: bold;
    background: transparent url(../images/join_small.png) no-repeat 0 1px;
    padding-left: 15px;
}
/* Sidebar online users */
#lastminutes {
    float: right;
    margin: 3px 0 0 0;
}
#sb-onlineusers ul {
    list-style: none;
    padding: 0;
}
#sb-onlineusers li {
    line-height: 2.333em;
    padding: 1px 0;
    white-space: nowrap;
    overflow-x: hidden;
}
#allonline {
    font-weight: bold;
    margin: 5px 0 0 0;
}
/* Sidebar quota/group quota bar */
#quota_message {
    text-align: center;
    margin: 0 0 10px 0;
}
#quota_used,
#quota_total {
    font-weight: bold;
}
#quotawrap {
    text-align: center;
    width: 210px;
    margin: 0 auto;
}
#quota_fill {
    margin: 0 5px;
    height: 28px;
    background-image: url(../images/quota_bar_highlight.png);
    position: absolute;
}
#quota_bar {
    background: url(../images/quota_bar_bg.png) no-repeat 0 0;
    height: 28px;
    width: 210px;
    text-align: center;
    margin: 0;
}
#quota_percentage {
    position: relative;
    z-index: 1;
    color: #000000;
    font-weight: bold;
    line-height: 28px;
    font-size: 1.167em;
}
#quota_bar_100 {
    background: url(../images/quota_bar_full.png) no-repeat 0 0;
    height: 28px;
    width: 210px;
    text-align: center;
    margin: 0;
}
/* Sidebar portfolio search */

/* Sidebar friends control */
.sideblock #friendscontrol th,
.sideblock #friendscontrol td {
    padding: 0;
}
.sideblock #friendscontrol input.radio {
    float: left;
}
.sideblock #friendscontrol label {
    line-height: 1.25em;
    margin: 2px 0 5px 20px;
    display: block;
}
.sideblock #friendscontrol br {
    line-height: 1px;
    height: 1px;
}
.sideblock #friendscontrol tr#friendscontrol_submit_container td {
    padding-top: 5px;
}
/* Sidebar tags */
#sb-tags .tag {
    padding: 0 5px;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.25em;
}
/* Sidebar group navigation */
#sb-groupnav ul li a.selected {
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}
/* Sidebar links and resources */

/* Sidebar ssopeers */

/******************** Footer ********************/
#footer-wrap {
    clear: both;
    margin: 0 auto;
}
#footer {
    padding: 10px 0;
    margin: 0 auto;
    min-width: 960px;
    max-width: 1280px;
}
#footer a,
#footer a:link,
#footer a:visited,
#footer a:active,
#footer a:hover {
    padding: 0 5px;
}
#footer-nav {
    margin: 0;
    float: left;
    margin: 10px;
}
#powered-by {
    margin: 0 0 0 5px;
    float: left;
}
#performance-info {
    float: right;
    margin: 0 10px 0 0;
    text-align: right;
    width: 450px;
}
#performance-info span {
    padding: 0 5px;
    white-space: nowrap;
}
#version {
    clear: right;
    float: right;
    margin: 10px 10px 5px 0;
}
#micro #performance-info,
#micro #version {
    margin: 5px 10px 5px 0;
    width: auto;
}
/******************** Page by page styles (listed by navigation order) ********************/
/* Login page */
#loginform_container {
    width: 256px;
}
#loginform_container #login_login_container {
    background: #F4F4F4;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#login_login_username_container input,
#login_login_password_container input {
    margin: 0 0 5px 0;
    width: 96%;
}
#login_submit_container {
    float: left;
}
#login-helplinks a {
    padding-left: 2px;
}
#login_login_container .error {
    background: none;
    padding: 0;
}
#login_login_container .error input.error {
    background: #FFF9DD;
    padding: 3px;
}
#login_login_extra_container {
    background: #F4F4F4;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#login_login_extra_container label {
    display: block;
    margin-bottom: 5px;
}
#login_login_extra_container .login-externallink {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.167em;
    vertical-align: top;
    height: 24px;
}
.ie7 #login_login_extra_container .login-externallink {
    display: inline !important;
}
#login_login_extra_container .login-externallink a.btn {
    position: absolute;
}
/* persona button */
/* link body */
a.persona-button {
    color: #FFFFFF !important;
    display: inline-block;
    line-height: 1.1;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.2);
    background: #3C3C3C;
    background: -moz-linear-gradient(top, #606060, #3C3C3C);
    background: -ms-linear-gradient(top, #606060, #3C3C3C);
    background: -o-linear-gradient(top, #606060, #3C3C3C);
    background: -webkit-linear-gradient(top, #606060, #3C3C3C);
    background: linear-gradient(top, #606060, #3C3C3C);
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
a.persona-button:hover {
    background: #2D2D2D;
    background: -moz-linear-gradient(top, #484848, #2D2D2D);
    background: -ms-linear-gradient(top, #484848, #2D2D2D);
    background: -o-linear-gradient(top, #484848, #2D2D2D);
    background: -webkit-linear-gradient(top, #484848, #2D2D2D);
    background: linear-gradient(top, #484848, #2D2D2D);
}
a.persona-button:active,
a.persona-button:focus {
    top: 1px;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.persona-button span {
    display: inline-block;
    padding: 6px 5px 6px 40px;
}
.ie7 a.persona-button {
    display: inline;
}
.ie7 a.persona-button span {
    display: inline;
    padding: 5px;
}
/* persona icon */
a.persona-button span:after {
    background: url(../images/persona_logo.png) 10px center no-repeat;
    content: '';
    display: block;
    width: 31px;
    position: absolute;
    bottom: 0;
    left: -3px;
    top: 0;
    z-index: 10;
}
/* persona icon background */
a.persona-button span:before {
    content: '';
    display: block;
    height: 100%;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background: #D34F2D;
    background: -moz-linear-gradient(top, #EBAC45, #D34F2D);
    background: -ms-linear-gradient(top, #EBAC45, #D34F2D);
    background: -o-linear-gradient(top, #EBAC45, #D34F2D);
    background: -webkit-linear-gradient(top, #EBAC45, #D34F2D);
    background: linear-gradient(top, #EBAC45, #D34F2D);
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
/* persona triangle */
a.persona-button:before {
    content: '';
    display: block;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -13px;
    z-index: 0;
    background: #D34F2D;
    background: -moz-linear-gradient(-45deg, #EBAC45, #D34F2D);
    background: -ms-linear-gradient(-45deg, #EBAC45, #D34F2D);
    background: -o-linear-gradient(-45deg, #EBAC45, #D34F2D);
    background: -webkit-linear-gradient(-45deg, #EBAC45, #D34F2D);
    background: linear-gradient(-45deg, #D34F2D, #EBAC45); /* flipped for updated spec */
    -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -ms-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* persona inset shadow (required here because the icon background clips it when on the `a` element) */
a.persona-button:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
    -ms-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
}
/* Dashboard */
#hideinfo {
    margin: 0 0 -23px 0;
    z-index: 0;
    position: relative;
    right: -5px;
    text-align: right;
}
.home-info-table {
    margin: 5px 0 15px 0;
    clear: right;
    border: 3px solid #F3F3F3;
    background: #EFEFEF; /* Old browsers */
    background: -moz-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EFEFEF), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EFEFEF 0%, #FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #EFEFEF 0%, #FFFFFF 100%); /* W3C */
}
.home-info {
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.home-info .title {
    margin: 0 0 5px 0;
    font-size: 1.333em;
    white-space: nowrap;
}
.home-info p.subtitle {
    font-size: 1em;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    white-space: nowrap;
    margin: 0 0 10px 0;
    padding: 3px 0;
    color: #666666;
}
.home-info .caption {
    padding-bottom: 5px;
    line-height: 1.25em;
}
/* Content > Profile */
#profileform_topsubmit_container th,
#profileform_submit_container th {
    display: none;
}
/* Content > Profile pictures */
#profileicons .profileiconcell {
    width: 110px;
}
#profileicons .defaultcell,
#profileicons .deletecell {
    width: 50px;
    text-align: center;
}
/* Content > Files */
.filelist .disabled {
    color: #C3C3C3;
}
.uploaddisabled {
    background-color: #F7F7F7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fileupload {
    background-color: #F7F7F7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#createfolder {
    background-color: #F7F7F7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.foldernav {
    font-weight: bold;
    padding: 3px 0 0 24px;
    font-size: 1.333em;
    background: url(../images/foldernav.png) no-repeat 0 0;
    margin-top: 20px;
}
#files_filebrowser_uploadsubmit_container,
#instconf_artefactids_uploadsubmit_container,
#instconf_artefactid_uploadsubmit_container {
    margin: 10px 0 5px 0;
}
/* drop file upload */
#file_dropzone_container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #EEEEEE;
    -webkit-box-shadow: inset 0px 0px 3px 0px #888888;
	box-shadow: inset 0px 0px 3px 0px #888888;
}
.no-js #file_dropzone_container {
    display: none;
}
#file_dropzone_container.dragover {
    background-color: #FFFFF7;
}
#file_dropzone_container .dz-message {
    font-size: 2em;
    color: #888888;
}
/* edit row background */
tr.editrow,
tr.editrow td,
tr#files_filebrowser_edit_row,
tr#files_filebrowser_edit_row td {
    background-color: #FFFFF7 !important;
    border-bottom: 2px solid #FFFFFF;
}
/* folder row background */
tr.folder td {
    background: #E3E3E3 url(../images/folderrow.png) repeat-x 0 0;
}
/* folder row being moved */
tr.folderhover td {
    background: #FFFFCC;
}
/* parent folder row */
tr.parentfolder td.filedescription {
    font-style: italic;
    padding-top: 7px;
}
tr.parentfolder td.filename a.changefolder {
    height: 24px;
    display: block;
    background: url(../images/parentfolder.png) no-repeat 0 0;
}
.filelist .nowrap input {
    margin-left: 7px;
    margin-right: 0;
}
.filelist .nowrap input:first-child {
    margin-left: 0;
}
/* extract file */
tr#unzip_artefact_submit_container th,
tr#unzip_artefact_submit_container td {
    padding: 0;
}
/* Content > Journals > Journal list */
#bloglist span.entries {
    white-space: nowrap;
    float: left;
    margin-left: 10px;
    line-height: 24px;
}
#bloglist span.newentry {
    margin: 0 0 0 8px;
    float: left;
    display: block;
    line-height: 24px;
}
#bloglist span.newentry a {
    font-size: 1em;
    margin: 0;
    line-height: 24px;
    padding: 4px 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#bloglist span.newentry a {
    padding: 3px 5px 4px 5px;
}
}
.ie8 #bloglist span.newentry a {
    padding: 3px 5px 4px 5px;
}
#bloglist .btns2 a {
    margin: 0 0 0 10px;
}
#bloglist .btns2 form,
#bloglist .btns2 div {
    display: inline;
}
/* Content > Journals > Journal posts */
#postlist h2 {
    margin: 0 0 5px 0;
}
.ie9 #postlist input.publish {
    padding: 3px 5px 3px 5px;
}
.ie8 #postlist input.publish {
    padding: 3px 5px 3px 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#postlist input.publish {
    padding: 4px 5px 3px 5px;
}
}
#postlist .poststatus {
    font-weight: bold;
    white-space: nowrap;
    margin: 0 0 0 10px;
    line-height: 26px;
}
#postlist .draft .poststatus {
    color: #DA7373;
}
#postlist .postdescription {
    border-top: 1px dotted #D1D1D1;
    padding: 5px 0;
}
#postlist .published {
    background: #F9F9F9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#postlist .postdescription h1,
#postlist .postdescription h2,
#postlist .postdescription h3,
#postlist .postdescription h4,
#postlist .postdescription h5,
#postlist .postdescription h6 {
    color: #333333;
}
#postlist .draft {
    background: #FFF9F9 url(../images/private_bkgd.png) repeat 0 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* attachments */
table.attachments {
    border: 2px solid #DDDDDD;
    background-color: #DDDDDD;
    margin: 3px 0;
}
/* Content > Journals > Edit */
/* Content > Notes > Edit */
/* Content > Resume > Education and employment > Edit */
/* Content > Resume > Achievements > Edit */
/* Content > Resume > Goals and skills > Edit */
#editpost_filebrowser_upload_browse,
#editpost_filebrowser_open_upload_browse_container,
#editnote_filebrowser_upload_browse,
#editnote_filebrowser_open_upload_browse_container,
#editgoalsandskills_filebrowser_upload_browse,
#editgoalsandskills_filebrowser_open_upload_browse_container,
#editcomposite_filebrowser_upload_browse,
#editcomposite_filebrowser_open_upload_browse_container {
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Content > Résumé */
.movebuttons {
    width: 58px;
}
#resumelicense_submit_container th {
    display: none;
}
/* Content > Plans */
tr.incomplete td {
    background: #FEE7E7;
}
/* Content > My notes */
#notes td.notetitle .detail iframe {
    overflow-x: hidden;
    width: 100%!important;
}
#notes .detail p {
    margin: 5px 0;
}
/* Portfolio > Pages */
#searchviews {
    padding: 5px 0;
    margin-bottom: 3px;
}
#searchviews #searchviews_query {
    margin-right: 3px;
}
/* page/collection submission form */
.submissionform {
    background: #EEEEEE;
    padding: 3px 5px;
}
.submissionform select {
    font-size: 1em;
}
.submissionform .submit {
    margin-left: 3px;
}
.submittedform {
    padding: 7px 5px;
}
.submitted-viewitem {
    background: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}
/* Portfolio > Pages > Copy a page */
#copyview .searchquery {
    line-height: 2.8em;
    margin-bottom: 15px;
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 10px;
}
#copyview #searchowners {
    white-space: nowrap;
}
#templatesearch_table tbody td.right {
    white-space: nowrap;
}
table.templateresults td.right input.submit {
    margin: 0 0 0 7px;
}
/* previewing popup */
#viewpreview {
    position: absolute;
    padding: 10px;
    font-size: 0.75em;
    line-height: 1.333em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 12;
    background: #FFFFFF;
    border: 7px solid #EEEEEE;
}
#closepreview {
    display: block;
    float: right;
}
/* Portfolio > Pages > Edit page (see views.css in theme folder and in raw folder) */

/* Portfolio > Pages > Edit page > Edit layout tab */
#viewlayout_basic_container,
#viewlayout_adv_container {
    padding: 10px;
    margin: 5px 0;
}
#viewlayout_basic_container fieldset,
#viewlayout_adv_container fieldset {
    margin: 0;
}
#basiclayouthelp {
    margin-left: 5px;
}
#viewlayout .layoutoption {
    display: inline-block;
    margin: 5px 15px 0 0;
    text-align: center;
    vertical-align: top;
}
#viewlayout .layoutthumb {
    display: block;
}
#viewlayout .layoutthumb img {
    margin-top: 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
    cursor: pointer;
}
.advancedlayoutselect .title {
    display: table-cell;
    width: 80px;
    vertical-align: top;
    padding-top: 7px;
    padding-left: 5px;
}
#viewlayout_advancedlayoutselect_row1,
#viewlayout_advancedlayoutselect_row2,
#viewlayout_advancedlayoutselect_row3,
#viewlayout_advancedlayoutselect_row4,
#viewlayout_advancedlayoutselect_row5,
#viewlayout_advancedlayoutselect_row6 {
    display: table-cell;
}
#viewlayout_createcustomlayout_container {
    margin-top: 15px;
    margin-bottom: 5px;
}
#createcustomlayouttitle {
    display: inline;
}
#viewlayout_createcustomlayout_container #createcustomlayouttitle a {
    background: url("../images/expand.png") no-repeat 0 50%;
    padding-left: 15px;
    text-decoration: none;
}
#viewlayout_createcustomlayout_container.collapsed #createcustomlayouttitle a {
    background: url("../images/expanded.png") no-repeat 0 50%;
}
.no-js #viewlayout_createcustomlayout_container #createcustomlayouttitle a {
    background: url("../images/expanded.png") no-repeat 0 50%;
}
#createcustomlayouttitle a:hover {
    text-decoration: none;
}
#customlayouthelp {
    margin-left: 5px;
}
#togglecustomlayoutoptions {
    background: #FFFFFF;
    border: 3px solid #D1D1D1;
    margin-top: 3px;
}
#createcustomlayoutpane {
    padding: 2px 5px;
    background: #FFFFFF;
}
.customrow,
.no-js .customrow {
    padding: 3px 5px;
    border-bottom: 1px dotted #d1d1d1;
}
.customrowtitle {
    display: inline-block;
    vertical-align: middle;
}
.customrowoptions {
    display: inline-block;
}
.no-js fieldset.collapsed .customrowtitle,
.no-js fieldset.collapsed .customrowoptions {
    display: inline-block;
}
.customrow label {
    margin-left: 20px;
    vertical-align: middle;
}
#addrow {
    margin: 3px 0;
}
#previewcustomlayoutpane {
    text-align: center;
    padding: 10px;
    background: #f2f2f2;
}
#custompreview {
    margin: 5px 5px 10px 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
}
#addlayout {
    margin: 0;
}
/* Portfolio > Pages > Edit page > Choose skin tab */
.skinsbtns {
    margin: 0;
}
div.currentskin {
    padding: 10px;
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
ul.userskins,
ul.siteskins,
ul.favorskins {
    background: #f2f2f2;
}
.favouriteskins {
    background: url(../images/rating_star.png) no-repeat 0 -38px;
    padding-left: 20px;
}
/* Portfolio > Pages > Delete page */

/* Portfolio > Collections */
.viewcontrolbuttons a {
    display: inline-block;
    margin-left: 5px;
}
/* Portfolio > Collections > Edit collection */
#collectionpageswrap {
    background: #EEEEEE;
}
#collectionpages {
    margin-left: 350px;
    background: #FFFFFF;
    border: 3px solid #EEEEEE;
    padding: 10px;
}
#collectionpages .message {
    width: 98%;
    float: right;
}
#collectionviews {
    margin: 0 0 5px 0;
    float: right;
}
#collectionviews td {
    vertical-align: middle;
}
#collectionviews td form table td {
    padding: 0;
}
.displayordercontrols div.justdown {
    padding-left: 35px;
}
#collectionviews form input.submit {
    background: url(../images/btn_deleteremove.png) no-repeat 0 0;
    border: 0;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
fieldset#pagestoadd {
    width: 300px;
    margin: -25px 0 0 -350px;
    float: left;
    padding: 10px;
}
fieldset#pagestoadd table {
    margin: 0;
    width: 100%;
}
fieldset#pagestoadd .pieform tr.checkbox {
    border-bottom: 1px dotted #D1D1D1;
}
fieldset#pagestoadd .pieform tr.checkbox th {
    vertical-align: middle;
}
fieldset#pagestoadd tr#addviews_submit_container th,
fieldset#pagestoadd tr#addviews_submit_container td {
    float: left;
    padding: 10px 0 0 0;
}
#collectiondonewrap {
    padding: 10px 0;
}
/* Portfolio > Shared by me */
.accesslists .accesslist {
    width: 40%;
}
.accesslists .al-edit {
    text-align: center;
    width: 12%;
}
.accesslists .secreturls {
    text-align: right;
    width: 12%;
}
.accesslists .secreturls a {
    margin-left: 5px;
}
.accesslists .secreturls a img {
    vertical-align: middle;
}
/* Portfolio > Shared by me > Edit access */
#editaccess #editaccess_collections_container,
#editaccess #editaccess_views_container,
#editaccess #editaccess_accesslist_container,
#editaccess #editaccess_more_container {
    background: #EEEEEE;
    padding: 10px;
    margin: 5px 0;
    clear: both;
}
#potentialpresetitems .title,
#editaccess_collections_container label,
#editaccess_views_container label {
    margin: 5px 0;
    font-size: 1.167em;
    font-weight: bold;
    padding: 0;
}
#editaccess .checkboxes a {
    padding: 0;
    margin: 0 0 0 10px;
}
#editaccess .checkboxes-option {
    display: inline-block;
    margin: 5px 15px 0 0;
    width: 150px;
}
/* share with box */
#editaccess #editaccess_accesslist_container {
    padding: 5px 5px 5px 0;
}
#editaccesswrap {
    margin-left: 350px;
    background: #FFFFFF;
    padding: 10px;
}
#editaccesswrap .presets-container {
    margin-left: -350px;
    margin-top: -10px;
    width: 330px;
}
#potentialpresetitems div.preset {
    font-weight: bold;
}
#potentialpresetitems div {
    padding: 3px 5px 3px 30px;
}
#potentialpresetitems div button {
    font-size: .917em;
    margin-left: -30px;
    background: url(../images/btn_add.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
}
/* share with other users */
#viewacl-advanced {
    margin: 0;
}
#viewacl-advanced legend {
    font-size: 1em;
    white-space: nowrap;
}
#viewacl-advanced .viewacl-advanced-search select {
    margin-right: 1px;
}
#viewacl-advanced .viewacl-advanced-search #search {
    width: 30%;
}
#viewacl-advanced .viewacl-advanced-search button#dosearch {
    padding: 3px 2px 3px 2px;
}
#viewacl-advanced #results td {
    vertical-align: middle;
}
#viewacl-advanced #results .buttontd button {
    margin: 0;
}
#viewacl-advanced #results button {
    vertical-align: middle;
    background: url(../images/btn_add.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
}
/* added users */
.accesslist-head1 th {
    border-bottom: none;
    padding: 0 5px;
    line-height: 1.25em;
}
.accesslist-head2 th {
    padding-top: 0;
    line-height: 1.25em;
    font-size: .917em;
}
#accesslistitems td {
    border-bottom: 1px dotted #D1D1D1;
    vertical-align: middle;
}
#accesslistitems input[type=text] {
    width: 110px;
    margin-right: 3px;
}
#accesslistitems .removebutton {
    width: 24px;
}
#accesslistitems .removebutton button {
    background: url(../images/btn_deleteremove.png) no-repeat 0 0;
    border: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0;
}
#accesslistitems .item-disabled {
    background: #666666;
}
/* advanced options */
#editaccess_more_container fieldset {
    margin: 0;
}
#editaccess_more_container fieldset legend {
    font-size: 1.167em;
}
#editaccess_more_container fieldset div.calendar {
    border: 0;
    font-size: 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#editaccess_more_container fieldset div.checkbox,
#editaccess_more_container fieldset div.html,
#editaccess_more_container fieldset div.calendar {
    margin-top: 5px;
}
#editaccess_more_container fieldset div label {
    margin-right: 3px;
}
/* Portfolio > Shared by me > Secret URLs */
.secreturls td {
    vertical-align: middle;
}
.secreturls .buttons {
    padding-bottom: 0;
}
.secreturls .buttons form,
.secreturls .buttons form div {
    display: inline;
}
.secreturls .buttons input {
    margin: 0 0 0 7px;
}
.secreturls .buttons a {
    text-decoration: none;
    margin: 0;
}
.secreturls table tr td {
    border-bottom: 0;
}
#newurl_submit_container th {
    vertical-align: middle;
}
/* Portfolio > Shared with me */
form#search {
    margin-bottom: 10px;
}
#search_advanced_container {
    margin: 10px 0 0 0;
}
#search_advanced_container label {
    display: block;
    clear: left;
    width: 9em;
    float: left;
    padding: 3px;
    margin: 3px 0;
}
#search_advanced_container #search_share_container {
    padding-left: 9em;
}
#search_advanced_container #search_share_container label {
    margin-left: -9em;
}
#search_advanced_container #search_share_container a {
    display: block;
    float: left;
    padding: 0;
    margin: 5px 10px 0 0;
}
#search_advanced_container #search_share_container .checkboxes-option {
    display: inline-block;
    margin-right: 25px;
    white-space: nowrap;
}
#sharedviewlist .groupdate {
    margin: 3px 0;
}
#sharedviewlist .tags {
    margin: 3px 0;
}
#sharedviewlist .lastcomment .comment {
    margin: 3px 0;
}
#sharedviewlist .lastcomment .poster {
    font-size: 0.917em;
}
/* Portfolio > Skins */
.skinthumb {
    width: 280px;
    background: #F3F3F3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}
.skinthumb .skin-controls a.btn-addtofavourites {
    background: url(../images/rating_star.png) no-repeat 0 0;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
}
.skinthumb .skin-controls a.btn-addtofavourites:hover {
    background: url(../images/rating_star.png) no-repeat 0 -38px;
}
.skinthumb .skin-controls a.btn-removefromfavourites {
    background: url(../images/rating_star.png) no-repeat 0 -38px;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
}
.skinthumb .skin-controls a.btn-removefromfavourites:hover {
    background: url(../images/rating_delete.png) no-repeat 0 -19px;
}
/* Portfolio > Skins > Edit skin */
form#designskinform fieldset {
    padding: 0;
    border: 0;
}
form#designskinform fieldset table {
    width: 100%;
}
form#designskinform fieldset table th {
    width: 190px;
}
form#designskinform fieldset table .color th {
    vertical-align: middle;
}
form#designskinform fieldset table thead th {
    width: auto;
}
form#designskinform fieldset p#designskinform_view_background_image_empty_selectlist {
    margin: 5px 0;
}
form#designskinform fieldset textarea#designskinform_viewskin_description {
    padding: 3px;
}
form#designskinform fieldset textarea#designskinform_view_custom_css {
    font-size: 1.333em;
    padding: 3px;
}
table#designskinform_body_background_image_selectlist,
table#designskinform_view_background_image_selectlist {
    margin-bottom: 10px;
}
#designskinform_view_background_image_open_upload_browse_container,
#designskinform_view_background_image_upload_browse,
#designskinform_body_background_image_open_upload_browse_container,
#designskinform_body_background_image_upload_browse {
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
#designskinform_body_background_position_container td,
#designskinform_view_background_position_container td {
    background: url(../images/position.png) no-repeat 5px 5px;
}
#designskinform_body_background_position_container td input,
#designskinform_view_background_position_container td input {
    opacity: 0;
}
#designskinform_body_background_position_container td input:hover,
#designskinform_view_background_position_container td input:hover {
    opacity: 1;
}
#designskinform_body_background_position_container td input:checked,
#designskinform_view_background_position_container td input:checked {
    opacity: 1;
}
form#designskinform fieldset table tr#designskinform_view_custom_css_container th {
    width: auto;
    white-space: nowrap;
}
textarea#designskinform_view_custom_css {
    width: 99%;
}
.no-js form#designskinform fieldset {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #d1d1d1;
}
.no-js form#designskinform fieldset.collapsed div#designskinform_body_background_image_open_upload_browse_container,
.no-js form#designskinform fieldset.collapsed div#designskinform_view_background_image_open_upload_browse_container,
.no-js input#designskinform_body_background_image_close_upload_browse,
.no-js input#designskinform_view_background_image_close_upload_browse {
    display: none;
}
.no-js form#designskinform fieldset.collapsed table {
    display: table;
}
.no-js #designskinform_body_background_image_foldernav,
.no-js #designskinform_view_background_image_foldernav {
    padding: 3px 0 0 24px;
    display: block;
    margin-top: 0px;
}
/* Portfolio > Export */
#export .element div label,
#export #whattoexport-buttons div label {
    line-height: 1.667em;
}
#export .description {
    padding-left: 25px;
    padding-bottom: 5px;
}
#export fieldset {
    padding: 5px 10px 10px 10px;
    margin: 5px 5px 10px 25px;
}
#export fieldset table colgroup col {
    border: 2px solid #FFFFFF;
}
#export fieldset table div.checkbox {
    float: left;
    width: 20px;
}
#export fieldset table div.labeldescriptpreview {
    padding: 0 0 0 25px;
}
#export fieldset table div.labeldescriptpreview label {
    font-weight: bold;
    display: block;
    line-height: 1.25em;
    margin: 3px 0 0 0;
}
#export fieldset table div.labeldescriptpreview p {
    margin: 0;
}
#export #whatviewsselection {
    margin: 5px 0 0 0;
}
#export #whatviewsselection a {
    padding: 0 3px;
}
#export #includefeedback {
    margin: 3px 0 0 1px;
}
/* Portfolio > Export > Export generating */
#exportgeneration {
    text-align: center;
    margin-top: 10px;
}
#progress {
    border: 1px solid #7C7C7C;
    height: 40px;
    width: 650px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    color: #333333;
    text-align: center;
    background-color: #d4d4d4;
}
div.progress-bar-progress {
    background: #cff253; /* Old browsers */
    background: -moz-linear-gradient(top, #cff253 0%, #9dc70d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cff253), color-stop(100%, #9dc70d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cff253 0%, #9dc70d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cff253 0%, #9dc70d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cff253 0%, #9dc70d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cff253 0%, #9dc70d 100%); /* W3C */
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    color: #333333;
    text-align: center;
}
p.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #000000;
    width: 100%;
}
#progressbar {
    height: 40px;
}
div.progress-bar p {
    color: #333333;
}
div.progress-bar a {
    color: #000000;
    text-decoration: underline;
}
/* Groups > Group's about page */
/* group description */
.groupdescription {
    margin: 0 1% 10px 1%;
}
/* group statuses */
ul.groupuserstatus {
    background: #E5ECF4;
    padding: 3px 5px 3px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
ul.groupuserstatus li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 2.167em;
}
ul.groupuserstatus li a {
    margin: 0 0 0 5px;
    line-height: 2.167em;
}
ul.groupuserstatus li input {
    margin: 0 0 0 8px;
    padding: 3px 10px 4px 10px;
}
ul.groupuserstatus form table {
    display: inline;
}
ul.groupuserstatus li table th,
ul.groupuserstatus li table td {
    background: 0;
    border: 0;
    padding: 0;
}
/* overriding group statuses for listing page */
.listing ul.groupuserstatus {
    margin: 0 0 5px 0;
    width: 180px;
    float: right;
    background: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.listing ul.groupuserstatus li {
    line-height: 1.25em;
    text-align: right;
    display: block;
}
/* status admin */
ul.groupuserstatus li.admincontrol {
    text-align: right;
    display: block;
}
/* status admin on listing page */
.listrow ul.groupuserstatus li.admincontrol .btn {
    border: 0;
    background: none;
    padding: 0;
}
.listrow ul.groupuserstatus li.admincontrol .btn .btn-edit {
    background: url(../images/btn_edit.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-indent: -9999px;
    font-size: 1px;
    padding: 0;
    color: transparent;
    cursor: pointer;
}
.listrow ul.groupuserstatus li.admincontrol .btn .btn-del {
    background: url(../images/btn_deleteremove.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-indent: -9999px;
    font-size: 1px;
    padding: 0;
    color: transparent;
    cursor: pointer;
}
/* status invite */
ul.groupuserstatus li.invite form {
    margin: 5px 0;
    float: right;
}
ul.groupuserstatus li.invite span {
    margin: 0 0 0 8px;
}
ul.groupuserstatus li.invite span input {
    background: url(../images/deny_small.png) no-repeat 0 50%;
    border: 0;
    padding: 0 0 0 15px;
    margin: 0;
}
ul.groupuserstatus li.invite span:first-child input {
    background: url(../images/approve_small.png) no-repeat 0 50%;
    border: 0;
    padding: 0 0 0 15px;
    margin: 0;
}
/* status join this group */
ul.groupuserstatus li.jointhisgroup {
    display: block;
    text-align: right;
}
ul.groupuserstatus li.jointhisgroup form {
    display: inline-block;
    margin: 0;
}
ul.groupuserstatus li.jointhisgroup table td input,
ul.groupuserstatus li.jointhisgroup table td input:hover,
ul.groupuserstatus li.jointhisgroup table td input:active {
    background: url(../images/join_small.png) no-repeat 0 50%;
    border: 0;
    padding: 0 0 0 15px;
    margin: 0;
    font-size: 1em;
}
/* status leave group */
ul.groupuserstatus li.leavegroup {
    float: right;
    display: inline;
}
ul.groupuserstatus li.leavegroup a {
    line-height: 2.167em;
}
.listing ul.groupuserstatus li.leavegroup,
.listing ul.groupuserstatus li.leavegroup a {
    line-height: 2.5em;
}
/* Groups > Group's Edit */
#editgroup fieldset tr.html {
    background: #EEEEEE;
    font-size: 1.167em;
}
#editgroup th label {
    white-space: normal;
}
#editgroup fieldset.sectioned .date th,
#editgroup fieldset.sectioned .select th {
    text-align: right;
}
#editgroup fieldset.sectioned .checkbox th {
    text-align: right;
    padding-top: 6px;
}
#editgroup fieldset.sectioned .checkbox th label,
#editgroup fieldset.sectioned .select th label {
    white-space: nowrap;
}
/* Groups > Group's member page */
.memberssearch {
    padding: 5px 10px;
    background: #EEEEEE;
    margin: 0 0 10px 0;
}
.memberssearch .membershiptypes {
    margin-right: 15px;
    display: inline;
    font-size: 1.167em;
}
.memberssearch form,
.memberssearch form div {
    display: inline;
}
.sortoption label {
    margin: 0px 5px
}
.memberswrap h2 {
    margin: 3px;
    font-size: 1.333em;
}
#membersearchresults .listrow {
    min-height: 40px;
}
#membersearchresults .memberdetail {
    margin-left: 50px;
}
.removemember input {
    margin: 3px 0;
}
#membersearchresults .grouprole {
    font-weight: normal;
}
#membersearchresults .jointime {
    margin: 3px 0 0 0;
}
/* Groups > Group's member send multiple invitations */
#addmembers table {
    width: 100%;
}
/* userlists selection, also used in many other pages */
.userlist .userlisttable {
    margin: 0;
}
.userlisttable .lrbuttons {
    text-align: center;
}
.userlisttable .lrbuttons button {
    margin: 0 3px 7px 3px;
    white-space: nowrap;
    font-size: 1.333em;
    font-weight: bold;
}
.userlisttable .lrfieldlists {
    width: 48%;
}
/* Groups > Group's forums */
#viewforum {
    border: 1px solid #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
img.feedicon {
    margin-left: 5px;
}
.postertd {
    min-width: 15%;
    font-size: 0.917em;
}
.lastposttd {
    min-width: 20%;
    font-size: 0.917em;
}
/* sticky topic row background */
.stickytopic td {
    background-color: #FFFFF7;
}
.deletedpost {
    color: #666666;
    background: #F4F4F4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.closed {
    background: #FEE7E7;
}
.forumpost {
    border: 2px solid #EEEEEE;
    background: #EEEEEE;
}
.forumpostleft {
    width: 160px;
    text-align: center;
    font-size: 0.917em;
    background: #EEEEEE;
}
.postedits {
    background: #FFFFFF;
}
.editstopost {
    background: #F4F4F4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.replyto {
    margin-top: 10px;
    background: #F4F4F4;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Groups > Group's forums > Edit forum */

/* Groups > Group's pages */
div.pagetabs {
    margin-top: -35px;
}
div.pagetabs .help a {
    margin: 0;
}
/* Groups > Group's collections */

/* Groups > Group's share */

/* Groups > Group's files */

/* Groups > Group's report (turn on Participation report in edit groups to get tab) */
table.groupviewsreport,
table.sharedviewsreport {
    margin: 10px 0;
}
table.groupviewsreport .sorted a,
table.sharedviewsreport .sorted a {
    background: url(../images/sort_descend.png) no-repeat right 50%;
    padding-right: 15px;
}
table.groupviewsreport .asc a,
table.sharedviewsreport .asc a {
    background: url(../images/sort_ascend.png) no-repeat right 50%;
    padding-right: 15px;
}
table.groupviewsreport ul,
table.sharedviewsreport ul {
    margin: 0;
}
table.groupviewsreport li,
table.sharedviewsreport li {
    clear: both;
    font-size: 0.917em;
    margin-bottom: 0;
}
table.groupviewsreport li span.right,
table.sharedviewsreport li span.right {
    float: right;
}
table.groupviewsreport .detail,
table.sharedviewsreport .detail {
    margin: 0;
    font-size: 0.917em;
    font-weight: bold;
}
/* Groups > My groups */
#filter {
    margin-bottom: 10px;
}
.groupsdetails {
    margin-right: 200px;
}
.groupsdetails .detail {
    margin: 5px 0;
}
.groupsdetails .groupadmin {
    margin: 3px 0 0 0;
}
.groupsdetails .membernumber {
    margin: 3px 0 0 0;
}
/* Groups > Find groups */
form#search #search_query {
    margin-right: 3px;
}
/* Groups > My/Find Friends */
div.peoplelistinfo {
    margin-left: 50px;
}
div.peoplelistinfo .leftdiv {
    float: left;
    width: 50px;
    margin-left: -50px;
}
div.peoplelistinfo .rightdiv .detail {
    margin-right: 210px;
}
.pendingfriend,
.existingfriend {
    font-weight: normal;
}
.whymakemeyourfriend {
    background: #FFFFFF;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.hasrequestedmembership,
.hasbeeninvitedtojoin {
    padding: 5px 5px 5px 0;
}
/* page list */
ul.viewlist {
    margin: 0;
    margin-right: 210px;
}
ul.viewlist li {
    display: inline;
    margin: 0;
}
ul.viewlist li a {
    padding-left: 10px;
    background: url(../images/dividerdot.png) no-repeat left;
}
/* actions */
ul.actionlist {
    width: 200px;
    margin: 0;
    float: right;
}
ul.actionlist li {
    list-style: none;
    margin: 1px 0 2px 0;
    line-height: 1.25em;
}
ul.actionlist li.notbtn,
ul.actionlist li.nofriend {
    padding: 5px 0 3px 0;
    font-weight: bold;
}
ul.actionlist li.denyrequest a,
ul.actionlist li.editgroup a,
ul.actionlist li.friend a,
ul.actionlist li.messages a,
ul.actionlist li.removefriend a,
ul.actionlist li form input.submit {
    border: 1px solid #DADADA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 5px 7px 25px;
    display: block;
    color: #333333;
    text-decoration: none;
    background-color: #F7F7F7;
    background-position: 7px 50%;
    background-repeat: no-repeat;
}
ul.actionlist li.denyrequest a:hover,
ul.actionlist li.editgroup a:hover,
ul.actionlist li.friend a:hover,
ul.actionlist li.messages a:hover,
ul.actionlist li.removefriend a:hover,
ul.actionlist li form input.submit:hover {
    background-color: #ffffff;
    color: #000000;
}
ul.actionlist li.denyrequest a:active,
ul.actionlist li.editgroup a:active,
ul.actionlist li.friend a:active,
ul.actionlist li.messages a:active,
ul.actionlist li.removefriend a:active,
ul.actionlist li form input.submit:active {
    background-color: #989898;
    color: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #e3e3e3;
}
ul.actionlist li.approvefriend form input {
    background-image: url(../images/approve_small.png);
}
ul.actionlist li.friend form input {
    background-image: url(../images/friend_small.png);
}
ul.actionlist li form input.submit {
    padding: 5px 5px 5px 23px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
/* Groups > My/Find Friends > Deny friend page */
form#denyrequest {
    padding: 5px;
    background: #F8F8F8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Groups > My/Find Friends > Edit group membership overlay */
div#groupbox {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    positon: fixed !important;
    padding: 0;
    font-size: 75%;
}
div#groupbox #groupboxwrap {
    border: 7px solid #EEEEEE;
    background: #FFFFFF;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 12;
    position: fixed;
    left: 5%;
    top: 5%;
    right: 5%;
}
div#groupbox h3 {
    margin: 0 0 10px 0;
}
div#groupbox div.jointype {
    margin: 0 10px 10px 0;
    text-align: left;
}
div#groupbox div.jointype h3 {
    margin: 0;
}
div#groupbox div.jointype ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#groupbox div.jointype ul li {
    list-style: none;
    margin: 3px 0 3px 0;
    padding: 0;
    line-height: 1.667em;
}
div#groupbox div.jointype ul li.last {
    margin: 10px 0 0 0;
}
/* Groups > My/Find Friends > Remove friend page */
form#removefriend {
    padding: 5px;
    background: #F8F8F8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Groups > My/Find friends > Send friendship request */
form#requestfriendship {
    padding: 5px;
    background: #F8F8F8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Groups > My/Find friends > Send message to user */
#messagethread .listrow {
    min-height: 40px;
}
#messagethread .memberdetail {
    margin-left: 50px;
}
#messagethread .postedon {
    font-weight: normal;
}
/* Groups > Institution membership */

/* Groups > Topics */
.sharedviewsreport .title,
.groupviewsreport .title {
    font-size: 1em;
}

/********** Pages outside of navigation ***************/
/* Settings */
#accountprefs table h3 {
    margin: 10px 0 0 0;
    border-bottom: 1px dotted #D1D1D1;
}
#accountprefs table tr.radio td {
    line-height: 2em;
}
#accountprefs_mobileuploadtoken_list div {
    margin-bottom: 3px;
}
/* Settings > Delete account page */
#deleteaccount {
    background: #F8F3F2;
    padding: 10px;
    margin: 0 0 10px 0;
}
#deleteaccount th,
#deleteaccount td {
    padding: 0;
}
#deleteaccount h1 {
    color: #CA0000;
}
/* Settings > Notifications */

/* Inbox */
#activitylist th {
    vertical-align: bottom;
}
#activitylist th a {
    font-size: 0.917em;
    font-weight: normal;
    white-space: nowrap;
}
#delete_all_notifications {
    float: right;
    position: relative;
    top: -30px;
}
#delete_all_notifications td {
    text-align: right;
    padding: 0;
}
#activitylist td.right input.submit {
    font-weight: bold;
}
#activitylist td.right input.btn-del {
    font-weight: normal;
}
.inbox-showmessage {
    font-size: 1.167em;
    line-height: 1.25em;
}
.inbox-showmessage.unread {
    font-weight: bold;
}
.inbox-message {
    margin: 3px 0;
}
/* Universal search (from the top) */
#universal-search-container {
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 480px;
    padding: 10px;
}
#universal-search-container form#search {
    margin: 0;
}
#universal-search-container form#search #search_tagsonly_container {
    display: block;
    margin: 10px 0 0 0;
    line-height: 1.667em;
}
.universalsearch {
    padding: 20px;
}
#universal-search-container input#search_query {
    font-size: 1.5em;
    padding: 4px 5px;
    width: 75%;
}
#universal-search-container input#search_submit {
    font-size: 1.5em;
	padding: 4px 10px;
}
@media screen and (min-width:0\0) {
    #universal-search-container input#search_submit {
        padding: 3px 10px 2px 10px;
    }
}
#universal-search-container input#search_submit {
    padding/*\**/: 3px 10px 2px 10px\9;
}
#universalsearchresult {
    margin: 20px 0 0 0;
}
#universalsearchresult .totalresults {
    margin-bottom: 20px;
    font-size: 1.5em;
}
#universalsearchresult .totalresults a {
    font-weight: bold;
}
ul.searchtab li span.inactive {
    color: #D4D4D4;
}
.universalsearch .selectboxes {
    text-align: right;
}
#universalsearch-results-sort,
#universalsearch-filter-owner {
    font-size: 1.167em;
    display: inline-block;
    margin: 0 0 10px 10px;
}
#resultswrap {
    clear: both;
    margin-left: 180px;
}
#resultswrap.nofilter {
    margin-left: 0;
}
/* search filter on left */
#universalsearchresults-filter-wrap {
    width: 156px;
    margin-left: -180px;
    float: left;
}
.nofilter #universalsearchresults-filter-wrap {
    display: none;
}
#universalsearchresults-filter-wrap #results_filter {
    margin-bottom: 8px;
    margin-left: 0;
    float: none;
}
#search-filter-license {
    width: 152px;
    margin: 0 2px 4px 2px;
}
#universalsearchresults .listrow {
    padding: 10px;
}
#universalsearchresults .listrowright {
    margin-left: 40px;
}
#universalsearchresults .listrowright .counter {
    float: left;
    margin-left: -40px;
    width: 25px;
}
.artefacttype {
    font-weight: normal;
}
.thumbnail-right {
    margin-left: 95px;
    min-height: 80px;
}
.thumbnail-image {
    margin-left: -95px;
    width: 80px;
    float: left;
}
.createdby {
    margin: 6px 0;
}
.usedon {
    margin: 10px 0 3px 0;
}
.usedon ul {
    margin: 0 0 10px 0;
}
/* Search my portfolio page (from the sidebar) */
.searchform {
    margin-bottom: 15px;
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}
.searchform label {
    font-size: 1.5em;
}
.searchform input#search_query {
    font-size: 1em;
}
.searchform button {
    font-size: 1.333em;
    font-weight: bold;
    margin: 0;
}
#selfsearchresults thead {
    display: none;
}
#selfsearchresults #searchresults h1,
#selfsearchresults #searchresults h2,
#selfsearchresults #searchresults h3,
#selfsearchresults #searchresults h4,
#selfsearchresults #searchresults h5,
#selfsearchresults #searchresults h6 {
    margin: 3px 0;
    font-size: 1.083em;
}
#selfsearchresults #searchresults h3:first-child {
    margin: 3px 0;
    font-size: 1.167em;
}
#selfsearchresults p {
    margin: 3px 0;
}
#selfsearchresults div {
    margin: 3px 0;
}
#selfsearchresults div label {
    margin-right: 5px;
}
#selfsearchresults div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
#selfsearchresults div ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
/* My tags page (from Tags in sidebar) */
.mytags {
    margin-bottom: 20px;
}
.mytags a.tag {
    padding: 0 5px;
    white-space: nowrap;
    line-height: 2em;
}
.mytags .tagfreq {
    font-weight: normal;
    color: #888888;
}
.mytags .selected {
    font-weight: bold;
    text-decoration: none;
}
.tag-results #results_heading {
    display: inline;
    margin-right: 5px;
}
.tag-results .rbuttons {
    float: none;
    margin: 0;
    display: inline;
}
.tag-results .rbuttons .btn {
    float: none;
    padding: 4px 5px;
    font-size: 1em;
}
.tag-results .selected {
    font-weight: bold;
    text-decoration: none;
}
#results_sort {
    padding: 10px 0 10px 0;
    float: right;
    font-size: 1.167em;
}
#results_sort label {
    margin-right: 5px;
}
#results_sort .sep {
    color: #CCCCCC;
    padding: 0 3px;
}
#results_filter {
    padding: 3px;
    width: 156px;
    background: #EEEEEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: -180px;
    float: left;
}
#results_filter .filtertitle {
    font-weight: bold;
    font-size: 1.167em;
    padding: 10px;
    display: block;
}
#results_filter .filtername a {
    background: #F7F7F7;
    border: 1px solid #DADADA;
    color: #333333;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 2px 0;
    font-size: 1.083em;
}
#results_filter .filtername a:hover {
    background: #FFFFFF;
}
#results_filter .filtername a.selected {
    background: #FFFFFF;
    color: #000000;
    font-weight: bold;
}
/* search results */
#resultswrap {
    clear: both;
    margin-left: 180px;
}
#results .listrowright {
    margin-left: 40px;
}
#results .listrowright .icon-container {
    width: 25px;
    margin-left: -40px;
    float: left;
}
#results .filetype {
    font-weight: normal;
}
#results .tags {
    margin: 3px 0;
}
/* My tags page > Edit tags */
.edittags h3 {
    margin: 0;
}
/* My tags page > Edit tags (select a tag) */
/* edit tag box */
.edittag {
    background: #F6F6F6;
    padding: 10px;
    margin-bottom: 10px;
}
/* delete tag box */
.deletetag {
    padding: 10px;
    background: #F8F3F2;
    margin-bottom: 10px;
}
.deletetag h3 {
    color: #CA0000;
}
/* User profile page */
.user-icon-name {
    text-align: center;
}
.user-icon-name span img {
    vertical-align: middle;
}
.userviewrbuttons {
    margin-top: -70px;
}
#userview {
    margin: 0 0 10px 0;
    text-align: center;
}
#userview .user-icon {
    margin: 0 0 5px 0;
}
#userview .user-icon a {
    margin: 0 10px 0 0;
    white-space: nowrap;
    line-height: 2em;
}
#userview .addform {
    display: block;
    text-align: center;
    margin: 0 0 5px 0;
}
#userview form,
#userview form div {
    display: inline;
}
#userview .user-icon input,
#userview .user-icon input:hover,
#userview .user-icon input:active {
    border: 0;
    background: transparent url(../images/friend_small.png) no-repeat 0 50%;
    padding: 0 0 0 12px;
    color: #0000CC;
    cursor: pointer;
    text-decoration: underline;
}
#userview .invitedtojoin,
#userview .requestedmembership {
    margin: 0 0 10px 0;
    text-align: center;
    display: block;
}
/* Wall (full) */
.wallpost {
    padding: 3px 5px;
    position: relative;
}
.wall .private {
    background: #FFF9F9 url(../images/private_bkgd.png) repeat 0 0;
}
.wall .message {
    margin: 0;
}
.wall .wallpostdeletebutton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
}
.wallpost .userinfo {
    margin: 3px 30px;
}
.wallpost .userinfo img {
    padding-right: 5px;
    float: left;
    margin-left: -30px;
}
.wallpost .detail {
    margin-left: 31px;
    margin-right: 30px;
}
.wallpost .detail p {
    margin: 3px 0;
}
.wallpost .controls {
    font-size: 0.917em;
    line-height: 1em;
    margin-left: 30px;
}
.wallpost .controls a {
    margin: 0 0 0 5px;
}

/* Import */
.importcolumn {
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 5px 0.5% 5px 0.5%;
    position: relative;
}
.importcolumn1 {
    width: 40%;
}
.importcolumn2 {
    width: 40%;
}
.importcolumn3 {
    width: 15%;
}
.indent1 {
    padding-left: 10px;
}
.indent2 {
    padding-left: 20px;
}

/* For styling attachment notice in Resume fieldsets */
.attachmessage {
	font-size: .9167em;
	font-style: italic;
	color: #888;
}
